iws-ws-client/src/main/resources/access.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.iws.iaeste.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="accessWSService" targetNamespace="http://ws.iws.iaeste.net/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.iws.iaeste.net/" targetNamespace="http://ws.iws.iaeste.net/" version="1.0">

  <xs:complexType final="extension restriction" name="AuthenticationRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="username" type="xs:string"/>
          <xs:element name="password" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="abstractVerification">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="authenticationResponse">
    <xs:complexContent>
      <xs:extension base="tns:FallibleResponse">
        <xs:sequence>
          <xs:element name="token" type="tns:AuthenticationToken"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FallibleResponse">
    <xs:sequence>
      <xs:element name="error" type="tns:IWSError"/>
      <xs:element name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="AuthenticationToken">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="token" type="xs:string"/>
          <xs:element name="groupId" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="IWSError">
    <xs:sequence>
      <xs:element name="error" type="xs:int"/>
      <xs:element name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="FetchPermissionResponse">
    <xs:complexContent>
      <xs:extension base="tns:FallibleResponse">
        <xs:sequence>
          <xs:element name="userId" type="xs:string"/>
          <xs:element maxOccurs="unbounded" name="authorizations" type="tns:Authorization"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Authorization">
    <xs:sequence>
      <xs:element name="userGroup" type="tns:UserGroup"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="UserGroup">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="userGroupId" nillable="true" type="xs:string"/>
          <xs:element name="user" type="tns:User"/>
          <xs:element name="group" type="tns:Group"/>
          <xs:element name="role" type="tns:Role"/>
          <xs:element name="title" nillable="true" type="xs:string"/>
          <xs:element name="onPublicList" type="xs:boolean"/>
          <xs:element name="onPrivateList" type="xs:boolean"/>
          <xs:element name="writeToPrivateList" type="xs:boolean"/>
          <xs:element name="memberSince" nillable="true" type="tns:Date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="User">
    <xs:complexContent>
      <xs:extension base="tns:abstractDto">
        <xs:sequence>
          <xs:element name="userId" nillable="true" type="xs:string"/>
          <xs:element name="username" nillable="true" type="xs:string"/>
          <xs:element name="alias" nillable="true" type="xs:string"/>
          <xs:element name="firstname" nillable="true" type="xs:string"/>
          <xs:element name="lastname" nillable="true" type="xs:string"/>
          <xs:element name="person" nillable="true" type="tns:Person"/>
          <xs:element name="status" nillable="true" type="tns:UserStatus"/>
          <xs:element name="type" type="tns:userType"/>
          <xs:element name="privacy" type="tns:Privacy"/>
          <xs:element name="notifications" type="tns:NotificationFrequency"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="abstractDto">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Person">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="nationality" nillable="true" type="tns:Country"/>
          <xs:element name="address" nillable="true" type="tns:Address"/>
          <xs:element name="alternateEmail" nillable="true" type="xs:string"/>
          <xs:element name="phone" nillable="true" type="xs:string"/>
          <xs:element name="mobile" nillable="true" type="xs:string"/>
          <xs:element name="fax" nillable="true" type="xs:string"/>
          <xs:element name="birthday" nillable="true" type="tns:Date"/>
          <xs:element name="gender" nillable="true" type="tns:Gender"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Country">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="countryCode" type="xs:string"/>
          <xs:element name="countryName" type="xs:string"/>
          <xs:element name="countryNameFull" nillable="true" type="xs:string"/>
          <xs:element name="countryNameNative" nillable="true" type="xs:string"/>
          <xs:element name="nationality" nillable="true" type="xs:string"/>
          <xs:element name="citizens" nillable="true" type="xs:string"/>
          <xs:element name="phonecode" nillable="true" type="xs:string"/>
          <xs:element name="currency" type="tns:Currency"/>
          <xs:element name="languages" nillable="true" type="xs:string"/>
          <xs:element name="membership" nillable="true" type="tns:Membership"/>
          <xs:element name="memberSince" nillable="true" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Address">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="street1" nillable="true" type="xs:string"/>
          <xs:element name="street2" nillable="true" type="xs:string"/>
          <xs:element name="postalCode" nillable="true" type="xs:string"/>
          <xs:element name="city" nillable="true" type="xs:string"/>
          <xs:element name="state" nillable="true" type="xs:string"/>
          <xs:element name="pobox" nillable="true" type="xs:string"/>
          <xs:element name="country" nillable="true" type="tns:Country"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Date">
    <xs:sequence>
      <xs:element name="midnight" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Group">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="groupId" nillable="true" type="xs:string"/>
          <xs:element name="groupName" type="xs:string"/>
          <xs:element name="fullName" nillable="true" type="xs:string"/>
          <xs:element name="listName" nillable="true" type="xs:string"/>
          <xs:element name="privateList" type="xs:boolean"/>
          <xs:element name="publicList" type="xs:boolean"/>
          <xs:element name="groupType" type="tns:GroupType"/>
          <xs:element name="description" nillable="true" type="xs:string"/>
          <xs:element name="monitoringLevel" nillable="true" type="tns:MonitoringLevel"/>
          <xs:element name="country" nillable="true" type="tns:Country"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Role">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="roleId" nillable="true" type="xs:string"/>
          <xs:element name="roleName" type="xs:string"/>
          <xs:element maxOccurs="unbounded" name="permissions" type="tns:Permission"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="SessionDataResponse">
    <xs:complexContent>
      <xs:extension base="tns:FallibleResponse">
        <xs:sequence>
          <xs:element name="sessionData" nillable="true" type="xs:base64Binary"/>
          <xs:element name="modified" nillable="true" type="tns:DateTime"/>
          <xs:element name="created" nillable="true" type="tns:DateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DateTime">
    <xs:sequence>
      <xs:element name="timestamp" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Password">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="newPassword" type="xs:string"/>
          <xs:element name="oldPassword" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="SessionDataRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="sessionData" nillable="true" type="xs:base64Binary"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="Currency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AED"/>
      <xs:enumeration value="AFN"/>
      <xs:enumeration value="ALL"/>
      <xs:enumeration value="AMD"/>
      <xs:enumeration value="ANG"/>
      <xs:enumeration value="AOA"/>
      <xs:enumeration value="ARS"/>
      <xs:enumeration value="AUD"/>
      <xs:enumeration value="AWG"/>
      <xs:enumeration value="AZN"/>
      <xs:enumeration value="BAM"/>
      <xs:enumeration value="BBD"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BGN"/>
      <xs:enumeration value="BHD"/>
      <xs:enumeration value="BIF"/>
      <xs:enumeration value="BMD"/>
      <xs:enumeration value="BND"/>
      <xs:enumeration value="BOB"/>
      <xs:enumeration value="BRL"/>
      <xs:enumeration value="BSD"/>
      <xs:enumeration value="BTN"/>
      <xs:enumeration value="BWP"/>
      <xs:enumeration value="BYR"/>
      <xs:enumeration value="BZD"/>
      <xs:enumeration value="CAD"/>
      <xs:enumeration value="CDF"/>
      <xs:enumeration value="CHF"/>
      <xs:enumeration value="CLP"/>
      <xs:enumeration value="CNY"/>
      <xs:enumeration value="COP"/>
      <xs:enumeration value="CRC"/>
      <xs:enumeration value="CUC"/>
      <xs:enumeration value="CUP"/>
      <xs:enumeration value="CVE"/>
      <xs:enumeration value="CZK"/>
      <xs:enumeration value="DJF"/>
      <xs:enumeration value="DKK"/>
      <xs:enumeration value="DOP"/>
      <xs:enumeration value="DZD"/>
      <xs:enumeration value="EGP"/>
      <xs:enumeration value="ERN"/>
      <xs:enumeration value="ETB"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="FJD"/>
      <xs:enumeration value="FKP"/>
      <xs:enumeration value="GBP"/>
      <xs:enumeration value="GEL"/>
      <xs:enumeration value="GGP"/>
      <xs:enumeration value="GHS"/>
      <xs:enumeration value="GIP"/>
      <xs:enumeration value="GMD"/>
      <xs:enumeration value="GNF"/>
      <xs:enumeration value="GTQ"/>
      <xs:enumeration value="GYD"/>
      <xs:enumeration value="HKD"/>
      <xs:enumeration value="HNL"/>
      <xs:enumeration value="HRK"/>
      <xs:enumeration value="HTG"/>
      <xs:enumeration value="HUF"/>
      <xs:enumeration value="IDR"/>
      <xs:enumeration value="ILS"/>
      <xs:enumeration value="IMP"/>
      <xs:enumeration value="INR"/>
      <xs:enumeration value="IQD"/>
      <xs:enumeration value="IRR"/>
      <xs:enumeration value="ISK"/>
      <xs:enumeration value="JEP"/>
      <xs:enumeration value="JMD"/>
      <xs:enumeration value="JOD"/>
      <xs:enumeration value="JPY"/>
      <xs:enumeration value="KES"/>
      <xs:enumeration value="KGS"/>
      <xs:enumeration value="KHR"/>
      <xs:enumeration value="KMF"/>
      <xs:enumeration value="KPW"/>
      <xs:enumeration value="KRW"/>
      <xs:enumeration value="KWD"/>
      <xs:enumeration value="KYD"/>
      <xs:enumeration value="KZT"/>
      <xs:enumeration value="LAK"/>
      <xs:enumeration value="LBP"/>
      <xs:enumeration value="LKR"/>
      <xs:enumeration value="LRD"/>
      <xs:enumeration value="LSL"/>
      <xs:enumeration value="LTL"/>
      <xs:enumeration value="LVL"/>
      <xs:enumeration value="LYD"/>
      <xs:enumeration value="MAD"/>
      <xs:enumeration value="MDL"/>
      <xs:enumeration value="MGA"/>
      <xs:enumeration value="MKD"/>
      <xs:enumeration value="MMK"/>
      <xs:enumeration value="MNT"/>
      <xs:enumeration value="MOP"/>
      <xs:enumeration value="MRO"/>
      <xs:enumeration value="MUR"/>
      <xs:enumeration value="MVR"/>
      <xs:enumeration value="MWK"/>
      <xs:enumeration value="MXN"/>
      <xs:enumeration value="MYR"/>
      <xs:enumeration value="MZN"/>
      <xs:enumeration value="NAD"/>
      <xs:enumeration value="NGN"/>
      <xs:enumeration value="NIO"/>
      <xs:enumeration value="NOK"/>
      <xs:enumeration value="NPR"/>
      <xs:enumeration value="NZD"/>
      <xs:enumeration value="OMR"/>
      <xs:enumeration value="PAB"/>
      <xs:enumeration value="PEN"/>
      <xs:enumeration value="PGK"/>
      <xs:enumeration value="PHP"/>
      <xs:enumeration value="PKR"/>
      <xs:enumeration value="PLN"/>
      <xs:enumeration value="PYG"/>
      <xs:enumeration value="QAR"/>
      <xs:enumeration value="RON"/>
      <xs:enumeration value="RSD"/>
      <xs:enumeration value="RUB"/>
      <xs:enumeration value="RWF"/>
      <xs:enumeration value="SAR"/>
      <xs:enumeration value="SBD"/>
      <xs:enumeration value="SCR"/>
      <xs:enumeration value="SDG"/>
      <xs:enumeration value="SEK"/>
      <xs:enumeration value="SGD"/>
      <xs:enumeration value="SHP"/>
      <xs:enumeration value="SLL"/>
      <xs:enumeration value="SOS"/>
      <xs:enumeration value="SPL"/>
      <xs:enumeration value="SRD"/>
      <xs:enumeration value="STD"/>
      <xs:enumeration value="SVC"/>
      <xs:enumeration value="SYP"/>
      <xs:enumeration value="SZL"/>
      <xs:enumeration value="THB"/>
      <xs:enumeration value="TJS"/>
      <xs:enumeration value="TMT"/>
      <xs:enumeration value="TND"/>
      <xs:enumeration value="TOP"/>
      <xs:enumeration value="TRY"/>
      <xs:enumeration value="TTD"/>
      <xs:enumeration value="TVD"/>
      <xs:enumeration value="TWD"/>
      <xs:enumeration value="TZS"/>
      <xs:enumeration value="UAH"/>
      <xs:enumeration value="UGX"/>
      <xs:enumeration value="USD"/>
      <xs:enumeration value="UYU"/>
      <xs:enumeration value="UZS"/>
      <xs:enumeration value="VEF"/>
      <xs:enumeration value="VND"/>
      <xs:enumeration value="VUV"/>
      <xs:enumeration value="WST"/>
      <xs:enumeration value="XAF"/>
      <xs:enumeration value="XCD"/>
      <xs:enumeration value="XDR"/>
      <xs:enumeration value="XOF"/>
      <xs:enumeration value="XPF"/>
      <xs:enumeration value="YER"/>
      <xs:enumeration value="ZAR"/>
      <xs:enumeration value="ZMW"/>
      <xs:enumeration value="ZWD"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Membership">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN"/>
      <xs:enumeration value="FULL_MEMBER"/>
      <xs:enumeration value="ASSOCIATE_MEMBER"/>
      <xs:enumeration value="COOPERATING_INSTITUTION"/>
      <xs:enumeration value="FORMER_MEMBER"/>
      <xs:enumeration value="LISTED"/>
      <xs:enumeration value="UNLISTED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MALE"/>
      <xs:enumeration value="FEMALE"/>
      <xs:enumeration value="UNKNOWN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UserStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NEW"/>
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="SUSPENDED"/>
      <xs:enumeration value="DELETED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="userType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VOLUNTEER"/>
      <xs:enumeration value="EMPLOYED"/>
      <xs:enumeration value="STUDENT"/>
      <xs:enumeration value="UNKNOWN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Privacy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PUBLIC"/>
      <xs:enumeration value="PROTECTED"/>
      <xs:enumeration value="PRIVATE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NotificationFrequency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IMMEDIATELY"/>
      <xs:enumeration value="DAILY"/>
      <xs:enumeration value="WEEKLY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GroupType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMINISTRATION"/>
      <xs:enumeration value="PRIVATE"/>
      <xs:enumeration value="MEMBER"/>
      <xs:enumeration value="INTERNATIONAL"/>
      <xs:enumeration value="NATIONAL"/>
      <xs:enumeration value="LOCAL"/>
      <xs:enumeration value="WORKGROUP"/>
      <xs:enumeration value="STUDENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MonitoringLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="MARKED"/>
      <xs:enumeration value="DETAILED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Permission">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FETCH_COUNTRIES"/>
      <xs:enumeration value="PROCESS_COUNTRY"/>
      <xs:enumeration value="CONTROL_USER_ACCOUNT"/>
      <xs:enumeration value="CREATE_STUDENT_ACCOUNT"/>
      <xs:enumeration value="FETCH_USER"/>
      <xs:enumeration value="CHANGE_ACCOUNT_NAME"/>
      <xs:enumeration value="PROCESS_GROUP"/>
      <xs:enumeration value="CHANGE_GROUP_OWNER"/>
      <xs:enumeration value="DELETE_GROUP"/>
      <xs:enumeration value="PROCESS_USER_GROUP_ASSIGNMENT"/>
      <xs:enumeration value="FETCH_EMERGENCY_LIST"/>
      <xs:enumeration value="FETCH_COMMITTEES"/>
      <xs:enumeration value="PROCESS_COMMITTEE"/>
      <xs:enumeration value="FETCH_INTERNATIONAL_GROUPS"/>
      <xs:enumeration value="PROCESS_INTERNATIONAL_GROUP"/>
      <xs:enumeration value="FETCH_SURVEY_OF_COUNTRIES"/>
      <xs:enumeration value="PROCESS_SURVEY_OF_COUNTRIES"/>
      <xs:enumeration value="PROCESS_FILE"/>
      <xs:enumeration value="FETCH_FILE"/>
      <xs:enumeration value="PROCESS_FOLDER"/>
      <xs:enumeration value="FETCH_FOLDER"/>
      <xs:enumeration value="FETCH_OFFER_STATISTICS"/>
      <xs:enumeration value="PROCESS_EMPLOYER"/>
      <xs:enumeration value="FETCH_EMPLOYERS"/>
      <xs:enumeration value="PROCESS_OFFER"/>
      <xs:enumeration value="FETCH_OFFERS"/>
      <xs:enumeration value="FETCH_GROUPS_FOR_SHARING"/>
      <xs:enumeration value="PROCESS_OFFER_TEMPLATES"/>
      <xs:enumeration value="FETCH_OFFER_TEMPLATES"/>
      <xs:enumeration value="PROCESS_PUBLISH_OFFER"/>
      <xs:enumeration value="FETCH_PUBLISH_GROUPS"/>
      <xs:enumeration value="APPLY_FOR_OPEN_OFFER"/>
      <xs:enumeration value="PROCESS_STUDENT"/>
      <xs:enumeration value="FETCH_STUDENTS"/>
      <xs:enumeration value="FETCH_STUDENT_APPLICATION"/>
      <xs:enumeration value="PROCESS_STUDENT_APPLICATION"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="forgotPasswordResponse">
    <wsdl:part name="response" type="tns:FallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateSession">
    <wsdl:part name="request" type="tns:AuthenticationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestResettingSession">
    <wsdl:part name="request" type="tns:AuthenticationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verifySession">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readSessionDataResponse">
    <wsdl:part name="response" type="tns:SessionDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="forgotPassword">
    <wsdl:part name="username" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetSessionResponse">
    <wsdl:part name="response" type="tns:authenticationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchPermissionsResponse">
    <wsdl:part name="response" type="tns:FetchPermissionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetPasswordResponse">
    <wsdl:part name="response" type="tns:FallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchPermissions">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deprecateSession">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestResettingSessionResponse">
    <wsdl:part name="response" type="tns:FallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="readSessionData">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetPassword">
    <wsdl:part name="resetPasswordToken" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="password" type="tns:Password">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePasswordResponse">
    <wsdl:part name="response" type="tns:FallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verifySessionResponse">
    <wsdl:part name="response" type="tns:FallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetSession">
    <wsdl:part name="resetSessionToken" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateSessionResponse">
    <wsdl:part name="response" type="tns:authenticationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveSessionData">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:SessionDataRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatePassword">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="password" type="tns:Password">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deprecateSessionResponse">
    <wsdl:part name="response" type="tns:FallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveSessionDataResponse">
    <wsdl:part name="response" type="tns:FallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="accessWS">
    <wsdl:operation name="generateSession">
      <wsdl:input message="tns:generateSession" name="generateSession">
    </wsdl:input>
      <wsdl:output message="tns:generateSessionResponse" name="generateSessionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchPermissions">
      <wsdl:input message="tns:fetchPermissions" name="fetchPermissions">
    </wsdl:input>
      <wsdl:output message="tns:fetchPermissionsResponse" name="fetchPermissionsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestResettingSession">
      <wsdl:input message="tns:requestResettingSession" name="requestResettingSession">
    </wsdl:input>
      <wsdl:output message="tns:requestResettingSessionResponse" name="requestResettingSessionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deprecateSession">
      <wsdl:input message="tns:deprecateSession" name="deprecateSession">
    </wsdl:input>
      <wsdl:output message="tns:deprecateSessionResponse" name="deprecateSessionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifySession">
      <wsdl:input message="tns:verifySession" name="verifySession">
    </wsdl:input>
      <wsdl:output message="tns:verifySessionResponse" name="verifySessionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readSessionData">
      <wsdl:input message="tns:readSessionData" name="readSessionData">
    </wsdl:input>
      <wsdl:output message="tns:readSessionDataResponse" name="readSessionDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <wsdl:input message="tns:resetPassword" name="resetPassword">
    </wsdl:input>
      <wsdl:output message="tns:resetPasswordResponse" name="resetPasswordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="forgotPassword">
      <wsdl:input message="tns:forgotPassword" name="forgotPassword">
    </wsdl:input>
      <wsdl:output message="tns:forgotPasswordResponse" name="forgotPasswordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetSession">
      <wsdl:input message="tns:resetSession" name="resetSession">
    </wsdl:input>
      <wsdl:output message="tns:resetSessionResponse" name="resetSessionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveSessionData">
      <wsdl:input message="tns:saveSessionData" name="saveSessionData">
    </wsdl:input>
      <wsdl:output message="tns:saveSessionDataResponse" name="saveSessionDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePassword">
      <wsdl:input message="tns:updatePassword" name="updatePassword">
    </wsdl:input>
      <wsdl:output message="tns:updatePasswordResponse" name="updatePasswordResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="accessWSServiceSoapBinding" type="tns:accessWS">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="generateSession">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="generateSession">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="generateSessionResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchPermissions">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchPermissions">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchPermissionsResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestResettingSession">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="requestResettingSession">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="requestResettingSessionResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deprecateSession">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="deprecateSession">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="deprecateSessionResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifySession">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="verifySession">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="verifySessionResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readSessionData">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="readSessionData">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="readSessionDataResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPassword">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="resetPassword">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="resetPasswordResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="forgotPassword">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="forgotPassword">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="forgotPasswordResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetSession">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="resetSession">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="resetSessionResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveSessionData">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="saveSessionData">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveSessionDataResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePassword">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="updatePassword">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatePasswordResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="accessWSService">
    <wsdl:port binding="tns:accessWSServiceSoapBinding" name="accessWS">
      <soap:address location="http://localhost:8080/iws-ws/accessWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>