iws-ws-client/src/main/resources/administration.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.iws.iaeste.net/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="administrationWSService" targetNamespace="http://ws.iws.iaeste.net/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.iws.iaeste.net/" targetNamespace="http://ws.iws.iaeste.net/" version="1.0">

  <xs:complexType name="FallibleResponse">
    <xs:sequence>
      <xs:element name="error" type="tns:IWSError"/>
      <xs:element name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="IWSError">
    <xs:sequence>
      <xs:element name="error" type="xs:int"/>
      <xs:element name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="AuthenticationToken">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="token" type="xs:string"/>
          <xs:element name="groupId" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="abstractVerification">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="CreateUserRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="username" type="xs:string"/>
          <xs:element name="password" nillable="true" type="xs:string"/>
          <xs:element name="firstname" type="xs:string"/>
          <xs:element name="lastname" type="xs:string"/>
          <xs:element name="studentAccount" nillable="true" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="CreateUserResponse">
    <xs:complexContent>
      <xs:extension base="tns:FallibleResponse">
        <xs:sequence>
          <xs:element name="user" nillable="true" type="tns:User"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="User">
    <xs:complexContent>
      <xs:extension base="tns:abstractDto">
        <xs:sequence>
          <xs:element name="userId" nillable="true" type="xs:string"/>
          <xs:element name="username" nillable="true" type="xs:string"/>
          <xs:element name="alias" nillable="true" type="xs:string"/>
          <xs:element name="firstname" nillable="true" type="xs:string"/>
          <xs:element name="lastname" nillable="true" type="xs:string"/>
          <xs:element name="person" nillable="true" type="tns:Person"/>
          <xs:element name="status" nillable="true" type="tns:UserStatus"/>
          <xs:element name="type" type="tns:UserType"/>
          <xs:element name="privacy" type="tns:Privacy"/>
          <xs:element name="notifications" type="tns:NotificationFrequency"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="abstractDto">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Person">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="nationality" nillable="true" type="tns:Country"/>
          <xs:element name="address" nillable="true" type="tns:Address"/>
          <xs:element name="alternateEmail" nillable="true" type="xs:string"/>
          <xs:element name="phone" nillable="true" type="xs:string"/>
          <xs:element name="mobile" nillable="true" type="xs:string"/>
          <xs:element name="fax" nillable="true" type="xs:string"/>
          <xs:element name="birthday" nillable="true" type="tns:Date"/>
          <xs:element name="gender" nillable="true" type="tns:Gender"/>
          <xs:element name="understoodPrivacySettings" nillable="true" type="xs:boolean"/>
          <xs:element name="acceptNewsletters" nillable="true" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Country">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="countryCode" type="xs:string"/>
          <xs:element name="countryName" type="xs:string"/>
          <xs:element name="countryNameFull" nillable="true" type="xs:string"/>
          <xs:element name="countryNameNative" nillable="true" type="xs:string"/>
          <xs:element name="nationality" nillable="true" type="xs:string"/>
          <xs:element name="citizens" nillable="true" type="xs:string"/>
          <xs:element name="phonecode" nillable="true" type="xs:string"/>
          <xs:element name="currency" type="tns:Currency"/>
          <xs:element name="languages" nillable="true" type="xs:string"/>
          <xs:element name="membership" nillable="true" type="tns:Membership"/>
          <xs:element name="memberSince" nillable="true" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Address">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="street1" nillable="true" type="xs:string"/>
          <xs:element name="street2" nillable="true" type="xs:string"/>
          <xs:element name="postalCode" nillable="true" type="xs:string"/>
          <xs:element name="city" nillable="true" type="xs:string"/>
          <xs:element name="state" nillable="true" type="xs:string"/>
          <xs:element name="pobox" nillable="true" type="xs:string"/>
          <xs:element name="country" nillable="true" type="tns:Country"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Date">
    <xs:sequence>
      <xs:element name="midnight" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="FetchUserRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="userId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="FetchUserResponse">
    <xs:complexContent>
      <xs:extension base="tns:FallibleResponse">
        <xs:sequence>
          <xs:element name="user" nillable="true" type="tns:User"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="OwnerRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="group" type="tns:Group"/>
          <xs:element name="user" type="tns:User"/>
          <xs:element name="title" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Group">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="groupId" nillable="true" type="xs:string"/>
          <xs:element name="groupName" type="xs:string"/>
          <xs:element name="fullName" nillable="true" type="xs:string"/>
          <xs:element name="listName" nillable="true" type="xs:string"/>
          <xs:element name="privateList" type="xs:boolean"/>
          <xs:element name="publicList" type="xs:boolean"/>
          <xs:element name="groupType" type="tns:GroupType"/>
          <xs:element name="description" nillable="true" type="xs:string"/>
          <xs:element name="monitoringLevel" nillable="true" type="tns:MonitoringLevel"/>
          <xs:element name="country" nillable="true" type="tns:Country"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="FetchCountryRequest">
    <xs:complexContent>
      <xs:extension base="tns:AbstractPaginatable">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="countryIds" nillable="true" type="xs:string"/>
          <xs:element name="membership" nillable="true" type="tns:Membership"/>
          <xs:element name="countryType" type="tns:countryType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="AbstractPaginatable">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="page" type="tns:Page"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Page">
    <xs:sequence>
      <xs:element name="pageNumber" type="xs:int"/>
      <xs:element name="pageSize" type="xs:int"/>
      <xs:element name="sortAscending" type="xs:boolean"/>
      <xs:element minOccurs="0" name="sortBy" type="tns:SortingField"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="FetchCountryResponse">
    <xs:complexContent>
      <xs:extension base="tns:FallibleResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="countries" nillable="true" type="tns:Country"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="AccountNameRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="user" type="tns:User"/>
          <xs:element name="firstname" nillable="true" type="xs:string"/>
          <xs:element name="lastname" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="GroupRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="group" type="tns:Group"/>
          <xs:element name="user" nillable="true" type="tns:User"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="ContactsRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="userId" nillable="true" type="xs:string"/>
          <xs:element name="groupId" nillable="true" type="xs:string"/>
          <xs:element name="type" nillable="true" type="tns:contactsType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="ContactsResponse">
    <xs:complexContent>
      <xs:extension base="tns:FallibleResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="users" nillable="true" type="tns:User"/>
          <xs:element maxOccurs="unbounded" name="groups" nillable="true" type="tns:Group"/>
          <xs:element name="type" nillable="true" type="tns:contactsType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="UserRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="user" type="tns:User"/>
          <xs:element name="newStatus" nillable="true" type="tns:UserStatus"/>
          <xs:element name="newUsername" nillable="true" type="xs:string"/>
          <xs:element name="newPassword" nillable="true" type="xs:string"/>
          <xs:element name="password" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="EmergencyListResponse">
    <xs:complexContent>
      <xs:extension base="tns:FallibleResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="emergencyContacts" nillable="true" type="tns:UserGroup"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="UserGroup">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="userGroupId" nillable="true" type="xs:string"/>
          <xs:element name="user" type="tns:User"/>
          <xs:element name="group" type="tns:Group"/>
          <xs:element name="role" type="tns:Role"/>
          <xs:element name="title" nillable="true" type="xs:string"/>
          <xs:element name="onPublicList" type="xs:boolean"/>
          <xs:element name="onPrivateList" type="xs:boolean"/>
          <xs:element name="writeToPrivateList" type="xs:boolean"/>
          <xs:element name="memberSince" nillable="true" type="tns:Date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Role">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="roleId" nillable="true" type="xs:string"/>
          <xs:element name="roleName" type="xs:string"/>
          <xs:element maxOccurs="unbounded" name="permissions" type="tns:Permission"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="ProcessGroupResponse">
    <xs:complexContent>
      <xs:extension base="tns:FallibleResponse">
        <xs:sequence>
          <xs:element name="group" nillable="true" type="tns:Group"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="UserGroupAssignmentRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="userGroup" type="tns:UserGroup"/>
          <xs:element name="action" type="tns:Action"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="ProcessUserGroupResponse">
    <xs:complexContent>
      <xs:extension base="tns:FallibleResponse">
        <xs:sequence>
          <xs:element name="userGroup" nillable="true" type="tns:UserGroup"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="SearchUserRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="group" nillable="true" type="tns:Group"/>
          <xs:element name="name" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="SearchUserResponse">
    <xs:complexContent>
      <xs:extension base="tns:FallibleResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="users" nillable="true" type="tns:UserGroup"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="FetchGroupRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="groupId" nillable="true" type="xs:string"/>
          <xs:element name="groupType" nillable="true" type="tns:GroupType"/>
          <xs:element name="usersToFetch" nillable="true" type="tns:userFetchType"/>
          <xs:element name="fetchStudents" nillable="true" type="xs:boolean"/>
          <xs:element name="fetchSubGroups" nillable="true" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="FetchGroupResponse">
    <xs:complexContent>
      <xs:extension base="tns:FallibleResponse">
        <xs:sequence>
          <xs:element name="group" nillable="true" type="tns:Group"/>
          <xs:element maxOccurs="unbounded" name="members" nillable="true" type="tns:UserGroup"/>
          <xs:element maxOccurs="unbounded" name="students" nillable="true" type="tns:UserGroup"/>
          <xs:element maxOccurs="unbounded" name="subGroups" nillable="true" type="tns:Group"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="FetchRoleRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="groupId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="FetchRoleResponse">
    <xs:complexContent>
      <xs:extension base="tns:FallibleResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="roles" nillable="true" type="tns:Role"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="CountryRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="country" type="tns:Country"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="Currency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AED"/>
      <xs:enumeration value="AFN"/>
      <xs:enumeration value="ALL"/>
      <xs:enumeration value="AMD"/>
      <xs:enumeration value="ANG"/>
      <xs:enumeration value="AOA"/>
      <xs:enumeration value="ARS"/>
      <xs:enumeration value="AUD"/>
      <xs:enumeration value="AWG"/>
      <xs:enumeration value="AZN"/>
      <xs:enumeration value="BAM"/>
      <xs:enumeration value="BBD"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BGN"/>
      <xs:enumeration value="BHD"/>
      <xs:enumeration value="BIF"/>
      <xs:enumeration value="BMD"/>
      <xs:enumeration value="BND"/>
      <xs:enumeration value="BOB"/>
      <xs:enumeration value="BRL"/>
      <xs:enumeration value="BSD"/>
      <xs:enumeration value="BTN"/>
      <xs:enumeration value="BWP"/>
      <xs:enumeration value="BYR"/>
      <xs:enumeration value="BZD"/>
      <xs:enumeration value="CAD"/>
      <xs:enumeration value="CDF"/>
      <xs:enumeration value="CHF"/>
      <xs:enumeration value="CLP"/>
      <xs:enumeration value="CNY"/>
      <xs:enumeration value="COP"/>
      <xs:enumeration value="CRC"/>
      <xs:enumeration value="CUC"/>
      <xs:enumeration value="CUP"/>
      <xs:enumeration value="CVE"/>
      <xs:enumeration value="CZK"/>
      <xs:enumeration value="DJF"/>
      <xs:enumeration value="DKK"/>
      <xs:enumeration value="DOP"/>
      <xs:enumeration value="DZD"/>
      <xs:enumeration value="EGP"/>
      <xs:enumeration value="ERN"/>
      <xs:enumeration value="ETB"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="FJD"/>
      <xs:enumeration value="FKP"/>
      <xs:enumeration value="GBP"/>
      <xs:enumeration value="GEL"/>
      <xs:enumeration value="GGP"/>
      <xs:enumeration value="GHS"/>
      <xs:enumeration value="GIP"/>
      <xs:enumeration value="GMD"/>
      <xs:enumeration value="GNF"/>
      <xs:enumeration value="GTQ"/>
      <xs:enumeration value="GYD"/>
      <xs:enumeration value="HKD"/>
      <xs:enumeration value="HNL"/>
      <xs:enumeration value="HRK"/>
      <xs:enumeration value="HTG"/>
      <xs:enumeration value="HUF"/>
      <xs:enumeration value="IDR"/>
      <xs:enumeration value="ILS"/>
      <xs:enumeration value="IMP"/>
      <xs:enumeration value="INR"/>
      <xs:enumeration value="IQD"/>
      <xs:enumeration value="IRR"/>
      <xs:enumeration value="ISK"/>
      <xs:enumeration value="JEP"/>
      <xs:enumeration value="JMD"/>
      <xs:enumeration value="JOD"/>
      <xs:enumeration value="JPY"/>
      <xs:enumeration value="KES"/>
      <xs:enumeration value="KGS"/>
      <xs:enumeration value="KHR"/>
      <xs:enumeration value="KMF"/>
      <xs:enumeration value="KPW"/>
      <xs:enumeration value="KRW"/>
      <xs:enumeration value="KWD"/>
      <xs:enumeration value="KYD"/>
      <xs:enumeration value="KZT"/>
      <xs:enumeration value="LAK"/>
      <xs:enumeration value="LBP"/>
      <xs:enumeration value="LKR"/>
      <xs:enumeration value="LRD"/>
      <xs:enumeration value="LSL"/>
      <xs:enumeration value="LTL"/>
      <xs:enumeration value="LVL"/>
      <xs:enumeration value="LYD"/>
      <xs:enumeration value="MAD"/>
      <xs:enumeration value="MDL"/>
      <xs:enumeration value="MGA"/>
      <xs:enumeration value="MKD"/>
      <xs:enumeration value="MMK"/>
      <xs:enumeration value="MNT"/>
      <xs:enumeration value="MOP"/>
      <xs:enumeration value="MRO"/>
      <xs:enumeration value="MUR"/>
      <xs:enumeration value="MVR"/>
      <xs:enumeration value="MWK"/>
      <xs:enumeration value="MXN"/>
      <xs:enumeration value="MYR"/>
      <xs:enumeration value="MZN"/>
      <xs:enumeration value="NAD"/>
      <xs:enumeration value="NGN"/>
      <xs:enumeration value="NIO"/>
      <xs:enumeration value="NOK"/>
      <xs:enumeration value="NPR"/>
      <xs:enumeration value="NZD"/>
      <xs:enumeration value="OMR"/>
      <xs:enumeration value="PAB"/>
      <xs:enumeration value="PEN"/>
      <xs:enumeration value="PGK"/>
      <xs:enumeration value="PHP"/>
      <xs:enumeration value="PKR"/>
      <xs:enumeration value="PLN"/>
      <xs:enumeration value="PYG"/>
      <xs:enumeration value="QAR"/>
      <xs:enumeration value="RON"/>
      <xs:enumeration value="RSD"/>
      <xs:enumeration value="RUB"/>
      <xs:enumeration value="RWF"/>
      <xs:enumeration value="SAR"/>
      <xs:enumeration value="SBD"/>
      <xs:enumeration value="SCR"/>
      <xs:enumeration value="SDG"/>
      <xs:enumeration value="SEK"/>
      <xs:enumeration value="SGD"/>
      <xs:enumeration value="SHP"/>
      <xs:enumeration value="SLL"/>
      <xs:enumeration value="SOS"/>
      <xs:enumeration value="SPL"/>
      <xs:enumeration value="SRD"/>
      <xs:enumeration value="STD"/>
      <xs:enumeration value="SVC"/>
      <xs:enumeration value="SYP"/>
      <xs:enumeration value="SZL"/>
      <xs:enumeration value="THB"/>
      <xs:enumeration value="TJS"/>
      <xs:enumeration value="TMT"/>
      <xs:enumeration value="TND"/>
      <xs:enumeration value="TOP"/>
      <xs:enumeration value="TRY"/>
      <xs:enumeration value="TTD"/>
      <xs:enumeration value="TVD"/>
      <xs:enumeration value="TWD"/>
      <xs:enumeration value="TZS"/>
      <xs:enumeration value="UAH"/>
      <xs:enumeration value="UGX"/>
      <xs:enumeration value="USD"/>
      <xs:enumeration value="UYU"/>
      <xs:enumeration value="UZS"/>
      <xs:enumeration value="VEF"/>
      <xs:enumeration value="VND"/>
      <xs:enumeration value="VUV"/>
      <xs:enumeration value="WST"/>
      <xs:enumeration value="XAF"/>
      <xs:enumeration value="XCD"/>
      <xs:enumeration value="XDR"/>
      <xs:enumeration value="XOF"/>
      <xs:enumeration value="XPF"/>
      <xs:enumeration value="YER"/>
      <xs:enumeration value="ZAR"/>
      <xs:enumeration value="ZMW"/>
      <xs:enumeration value="ZWD"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Membership">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN"/>
      <xs:enumeration value="FULL_MEMBER"/>
      <xs:enumeration value="ASSOCIATE_MEMBER"/>
      <xs:enumeration value="COOPERATING_INSTITUTION"/>
      <xs:enumeration value="FORMER_MEMBER"/>
      <xs:enumeration value="LISTED"/>
      <xs:enumeration value="UNLISTED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MALE"/>
      <xs:enumeration value="FEMALE"/>
      <xs:enumeration value="UNKNOWN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UserStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NEW"/>
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="SUSPENDED"/>
      <xs:enumeration value="DELETED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UserType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VOLUNTEER"/>
      <xs:enumeration value="EMPLOYED"/>
      <xs:enumeration value="STUDENT"/>
      <xs:enumeration value="FUNCTIONAL"/>
      <xs:enumeration value="UNKNOWN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Privacy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PUBLIC"/>
      <xs:enumeration value="PROTECTED"/>
      <xs:enumeration value="PRIVATE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NotificationFrequency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IMMEDIATELY"/>
      <xs:enumeration value="DAILY"/>
      <xs:enumeration value="WEEKLY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GroupType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMINISTRATION"/>
      <xs:enumeration value="PRIVATE"/>
      <xs:enumeration value="MEMBER"/>
      <xs:enumeration value="INTERNATIONAL"/>
      <xs:enumeration value="NATIONAL"/>
      <xs:enumeration value="LOCAL"/>
      <xs:enumeration value="WORKGROUP"/>
      <xs:enumeration value="STUDENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MonitoringLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="MARKED"/>
      <xs:enumeration value="DETAILED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="countryType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="COMMITTEES"/>
      <xs:enumeration value="COUNTRIES"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SortingField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CREATED"/>
      <xs:enumeration value="NAME"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="contactsType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USER"/>
      <xs:enumeration value="GROUP"/>
      <xs:enumeration value="OTHER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Permission">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FETCH_COUNTRIES"/>
      <xs:enumeration value="PROCESS_COUNTRY"/>
      <xs:enumeration value="CONTROL_USER_ACCOUNT"/>
      <xs:enumeration value="CREATE_STUDENT_ACCOUNT"/>
      <xs:enumeration value="FETCH_USER"/>
      <xs:enumeration value="CHANGE_ACCOUNT_NAME"/>
      <xs:enumeration value="PROCESS_GROUP"/>
      <xs:enumeration value="CHANGE_GROUP_OWNER"/>
      <xs:enumeration value="DELETE_GROUP"/>
      <xs:enumeration value="PROCESS_USER_GROUP_ASSIGNMENT"/>
      <xs:enumeration value="FETCH_EMERGENCY_LIST"/>
      <xs:enumeration value="FETCH_COMMITTEES"/>
      <xs:enumeration value="PROCESS_COMMITTEE"/>
      <xs:enumeration value="FETCH_INTERNATIONAL_GROUPS"/>
      <xs:enumeration value="PROCESS_INTERNATIONAL_GROUP"/>
      <xs:enumeration value="FETCH_SURVEY_OF_COUNTRIES"/>
      <xs:enumeration value="PROCESS_SURVEY_OF_COUNTRIES"/>
      <xs:enumeration value="PROCESS_FILE"/>
      <xs:enumeration value="FETCH_FILE"/>
      <xs:enumeration value="PROCESS_FOLDER"/>
      <xs:enumeration value="FETCH_FOLDER"/>
      <xs:enumeration value="FETCH_OFFER_STATISTICS"/>
      <xs:enumeration value="PROCESS_EMPLOYER"/>
      <xs:enumeration value="FETCH_EMPLOYERS"/>
      <xs:enumeration value="PROCESS_OFFER"/>
      <xs:enumeration value="FETCH_OFFERS"/>
      <xs:enumeration value="FETCH_GROUPS_FOR_SHARING"/>
      <xs:enumeration value="PROCESS_OFFER_TEMPLATES"/>
      <xs:enumeration value="FETCH_OFFER_TEMPLATES"/>
      <xs:enumeration value="PROCESS_PUBLISH_OFFER"/>
      <xs:enumeration value="FETCH_PUBLISH_GROUPS"/>
      <xs:enumeration value="APPLY_FOR_OPEN_OFFER"/>
      <xs:enumeration value="PROCESS_STUDENT"/>
      <xs:enumeration value="FETCH_STUDENTS"/>
      <xs:enumeration value="FETCH_STUDENT_APPLICATION"/>
      <xs:enumeration value="PROCESS_STUDENT_APPLICATION"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Action">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CREATE"/>
      <xs:enumeration value="UPDATE"/>
      <xs:enumeration value="UPGRADE"/>
      <xs:enumeration value="PROCESS"/>
      <xs:enumeration value="CHANGE_NS"/>
      <xs:enumeration value="MERGE"/>
      <xs:enumeration value="ACTIVATE"/>
      <xs:enumeration value="SUSPEND"/>
      <xs:enumeration value="DELETE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="userFetchType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="ALL"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="updateUsername">
    <wsdl:part name="updateCode" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUser">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:CreateUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUsernameResponse">
    <wsdl:part name="response" type="tns:FallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeGroupOwner">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:OwnerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchCountries">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:FetchCountryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processGroupResponse">
    <wsdl:part name="response" type="tns:ProcessGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchEmergencyListResponse">
    <wsdl:part name="response" type="tns:EmergencyListResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeAccountName">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:AccountNameRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchRolesResponse">
    <wsdl:part name="response" type="tns:FetchRoleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSubGroup">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:GroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchContactsResponse">
    <wsdl:part name="response" type="tns:ContactsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processUserGroupAssignmentResponse">
    <wsdl:part name="response" type="tns:ProcessUserGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="activateUserResponse">
    <wsdl:part name="response" type="tns:FallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="controlUserAccount">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:UserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchEmergencyList">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processGroup">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:GroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processUserGroupAssignment">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:UserGroupAssignmentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchRoles">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:FetchRoleRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processCountry">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:CountryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUserResponse">
    <wsdl:part name="response" type="tns:CreateUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchUserResponse">
    <wsdl:part name="response" type="tns:FetchUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchGroupResponse">
    <wsdl:part name="response" type="tns:FetchGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchUser">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:FetchUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeGroupOwnerResponse">
    <wsdl:part name="response" type="tns:FallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="activateUser">
    <wsdl:part name="activationString" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSubGroupResponse">
    <wsdl:part name="response" type="tns:FallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="controlUserAccountResponse">
    <wsdl:part name="response" type="tns:FallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processCountryResponse">
    <wsdl:part name="response" type="tns:FallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchContacts">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:ContactsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchUsersResponse">
    <wsdl:part name="response" type="tns:SearchUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchCountriesResponse">
    <wsdl:part name="response" type="tns:FetchCountryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="changeAccountNameResponse">
    <wsdl:part name="response" type="tns:FallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchUsers">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:SearchUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchGroup">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:FetchGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="administrationWS">
    <wsdl:operation name="updateUsername">
      <wsdl:input message="tns:updateUsername" name="updateUsername">
    </wsdl:input>
      <wsdl:output message="tns:updateUsernameResponse" name="updateUsernameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <wsdl:input message="tns:createUser" name="createUser">
    </wsdl:input>
      <wsdl:output message="tns:createUserResponse" name="createUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchUser">
      <wsdl:input message="tns:fetchUser" name="fetchUser">
    </wsdl:input>
      <wsdl:output message="tns:fetchUserResponse" name="fetchUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeGroupOwner">
      <wsdl:input message="tns:changeGroupOwner" name="changeGroupOwner">
    </wsdl:input>
      <wsdl:output message="tns:changeGroupOwnerResponse" name="changeGroupOwnerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchCountries">
      <wsdl:input message="tns:fetchCountries" name="fetchCountries">
    </wsdl:input>
      <wsdl:output message="tns:fetchCountriesResponse" name="fetchCountriesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeAccountName">
      <wsdl:input message="tns:changeAccountName" name="changeAccountName">
    </wsdl:input>
      <wsdl:output message="tns:changeAccountNameResponse" name="changeAccountNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSubGroup">
      <wsdl:input message="tns:deleteSubGroup" name="deleteSubGroup">
    </wsdl:input>
      <wsdl:output message="tns:deleteSubGroupResponse" name="deleteSubGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activateUser">
      <wsdl:input message="tns:activateUser" name="activateUser">
    </wsdl:input>
      <wsdl:output message="tns:activateUserResponse" name="activateUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchContacts">
      <wsdl:input message="tns:fetchContacts" name="fetchContacts">
    </wsdl:input>
      <wsdl:output message="tns:fetchContactsResponse" name="fetchContactsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="controlUserAccount">
      <wsdl:input message="tns:controlUserAccount" name="controlUserAccount">
    </wsdl:input>
      <wsdl:output message="tns:controlUserAccountResponse" name="controlUserAccountResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchEmergencyList">
      <wsdl:input message="tns:fetchEmergencyList" name="fetchEmergencyList">
    </wsdl:input>
      <wsdl:output message="tns:fetchEmergencyListResponse" name="fetchEmergencyListResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processGroup">
      <wsdl:input message="tns:processGroup" name="processGroup">
    </wsdl:input>
      <wsdl:output message="tns:processGroupResponse" name="processGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processUserGroupAssignment">
      <wsdl:input message="tns:processUserGroupAssignment" name="processUserGroupAssignment">
    </wsdl:input>
      <wsdl:output message="tns:processUserGroupAssignmentResponse" name="processUserGroupAssignmentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchUsers">
      <wsdl:input message="tns:searchUsers" name="searchUsers">
    </wsdl:input>
      <wsdl:output message="tns:searchUsersResponse" name="searchUsersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchGroup">
      <wsdl:input message="tns:fetchGroup" name="fetchGroup">
    </wsdl:input>
      <wsdl:output message="tns:fetchGroupResponse" name="fetchGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchRoles">
      <wsdl:input message="tns:fetchRoles" name="fetchRoles">
    </wsdl:input>
      <wsdl:output message="tns:fetchRolesResponse" name="fetchRolesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processCountry">
      <wsdl:input message="tns:processCountry" name="processCountry">
    </wsdl:input>
      <wsdl:output message="tns:processCountryResponse" name="processCountryResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="administrationWSServiceSoapBinding" type="tns:administrationWS">
    <soap12:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="updateUsername">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="updateUsername">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUsernameResponse">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchUser">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchUser">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchUserResponse">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="createUser">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createUserResponse">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchCountries">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchCountries">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchCountriesResponse">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeGroupOwner">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="changeGroupOwner">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="changeGroupOwnerResponse">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeAccountName">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="changeAccountName">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="changeAccountNameResponse">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSubGroup">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="deleteSubGroup">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteSubGroupResponse">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activateUser">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="activateUser">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="activateUserResponse">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchContacts">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchContacts">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchContactsResponse">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="controlUserAccount">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="controlUserAccount">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="controlUserAccountResponse">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchEmergencyList">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchEmergencyList">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchEmergencyListResponse">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processGroup">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="processGroup">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="processGroupResponse">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processUserGroupAssignment">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="processUserGroupAssignment">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="processUserGroupAssignmentResponse">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchUsers">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="searchUsers">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="searchUsersResponse">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchGroup">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchGroup">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchGroupResponse">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchRoles">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchRoles">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchRolesResponse">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processCountry">
      <soap12:operation soapAction="" style="rpc"/>
      <wsdl:input name="processCountry">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="processCountryResponse">
        <soap12:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="administrationWSService">
    <wsdl:port binding="tns:administrationWSServiceSoapBinding" name="administrationWS">
      <soap12:address location="http://localhost:9080/iws-ws/administrationWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>