iws-ws-client/src/main/resources/committees.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.iws.iaeste.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="committeeWSService" targetNamespace="http://ws.iws.iaeste.net/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.iws.iaeste.net/" targetNamespace="http://ws.iws.iaeste.net/" version="1.0">

  <xs:complexType final="extension restriction" name="AuthenticationToken">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="token" type="xs:string"/>
          <xs:element name="groupId" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="abstractVerification">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="FetchCommitteeRequest">
    <xs:complexContent>
      <xs:extension base="tns:AbstractPaginatable">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="countryIds" nillable="true" type="xs:string"/>
          <xs:element name="membership" nillable="true" type="tns:Membership"/>
          <xs:element maxOccurs="unbounded" name="statuses" nillable="true" type="tns:GroupStatus"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="AbstractPaginatable">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="page" type="tns:Page"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Page">
    <xs:sequence>
      <xs:element name="pageNumber" type="xs:int"/>
      <xs:element name="pageSize" type="xs:int"/>
      <xs:element name="sortAscending" type="xs:boolean"/>
      <xs:element minOccurs="0" name="sortBy" type="tns:SortingField"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchCommitteeResponse">
    <xs:complexContent>
      <xs:extension base="tns:FallibleResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="committees" nillable="true" type="tns:UserGroup"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FallibleResponse">
    <xs:sequence>
      <xs:element name="error" type="tns:IWSError"/>
      <xs:element name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="UserGroup">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="userGroupId" nillable="true" type="xs:string"/>
          <xs:element name="user" type="tns:User"/>
          <xs:element name="group" type="tns:Group"/>
          <xs:element name="role" type="tns:Role"/>
          <xs:element name="title" nillable="true" type="xs:string"/>
          <xs:element name="onPublicList" type="xs:boolean"/>
          <xs:element name="onPrivateList" type="xs:boolean"/>
          <xs:element name="writeToPrivateList" type="xs:boolean"/>
          <xs:element name="memberSince" nillable="true" type="tns:Date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="User">
    <xs:complexContent>
      <xs:extension base="tns:abstractDto">
        <xs:sequence>
          <xs:element name="userId" nillable="true" type="xs:string"/>
          <xs:element name="username" nillable="true" type="xs:string"/>
          <xs:element name="alias" nillable="true" type="xs:string"/>
          <xs:element name="firstname" nillable="true" type="xs:string"/>
          <xs:element name="lastname" nillable="true" type="xs:string"/>
          <xs:element name="person" nillable="true" type="tns:Person"/>
          <xs:element name="status" nillable="true" type="tns:UserStatus"/>
          <xs:element name="privacy" type="tns:Privacy"/>
          <xs:element name="notifications" type="tns:NotificationFrequency"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="abstractDto">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Person">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="nationality" nillable="true" type="tns:Country"/>
          <xs:element name="address" nillable="true" type="tns:Address"/>
          <xs:element name="alternateEmail" nillable="true" type="xs:string"/>
          <xs:element name="phone" nillable="true" type="xs:string"/>
          <xs:element name="mobile" nillable="true" type="xs:string"/>
          <xs:element name="fax" nillable="true" type="xs:string"/>
          <xs:element name="birthday" nillable="true" type="tns:Date"/>
          <xs:element name="gender" nillable="true" type="tns:Gender"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Country">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="countryCode" type="xs:string"/>
          <xs:element name="countryName" type="xs:string"/>
          <xs:element name="countryNameFull" nillable="true" type="xs:string"/>
          <xs:element name="countryNameNative" nillable="true" type="xs:string"/>
          <xs:element name="nationality" nillable="true" type="xs:string"/>
          <xs:element name="citizens" nillable="true" type="xs:string"/>
          <xs:element name="phonecode" nillable="true" type="xs:string"/>
          <xs:element name="currency" type="tns:Currency"/>
          <xs:element name="languages" nillable="true" type="xs:string"/>
          <xs:element name="membership" nillable="true" type="tns:Membership"/>
          <xs:element name="memberSince" nillable="true" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Address">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="street1" nillable="true" type="xs:string"/>
          <xs:element name="street2" nillable="true" type="xs:string"/>
          <xs:element name="postalCode" nillable="true" type="xs:string"/>
          <xs:element name="city" nillable="true" type="xs:string"/>
          <xs:element name="state" nillable="true" type="xs:string"/>
          <xs:element name="pobox" nillable="true" type="xs:string"/>
          <xs:element name="country" nillable="true" type="tns:Country"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Date">
    <xs:sequence>
      <xs:element name="midnight" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Group">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="groupId" nillable="true" type="xs:string"/>
          <xs:element name="groupName" type="xs:string"/>
          <xs:element name="fullName" nillable="true" type="xs:string"/>
          <xs:element name="listName" nillable="true" type="xs:string"/>
          <xs:element name="privateList" type="xs:boolean"/>
          <xs:element name="publicList" type="xs:boolean"/>
          <xs:element name="groupType" type="tns:GroupType"/>
          <xs:element name="description" nillable="true" type="xs:string"/>
          <xs:element name="monitoringLevel" nillable="true" type="tns:MonitoringLevel"/>
          <xs:element name="country" nillable="true" type="tns:Country"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Role">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="roleId" nillable="true" type="xs:string"/>
          <xs:element name="roleName" type="xs:string"/>
          <xs:element maxOccurs="unbounded" name="permissions" type="tns:Permission"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="IWSError">
    <xs:sequence>
      <xs:element name="error" type="xs:int"/>
      <xs:element name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="FetchInternationalGroupRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="statuses" type="tns:GroupStatus"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="FetchInternationalGroupResponse">
    <xs:complexContent>
      <xs:extension base="tns:FallibleResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="groups" nillable="true" type="tns:UserGroup"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="FetchSurveyOfCountryRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="groupId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="FetchSurveyOfCountryRespose">
    <xs:complexContent>
      <xs:extension base="tns:FallibleResponse">
        <xs:sequence>
          <xs:element name="survey" nillable="true" type="tns:SurveyOfCountry"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="SurveyOfCountry">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="CommitteeRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="countryId" nillable="true" type="xs:string"/>
          <xs:element name="institutionName" nillable="true" type="xs:string"/>
          <xs:element name="institutionAbbreviation" nillable="true" type="xs:string"/>
          <xs:element name="firstname" nillable="true" type="xs:string"/>
          <xs:element name="lastname" nillable="true" type="xs:string"/>
          <xs:element name="username" nillable="true" type="xs:string"/>
          <xs:element name="nationalCommittee" nillable="true" type="tns:Group"/>
          <xs:element name="nationalSecretary" nillable="true" type="tns:User"/>
          <xs:element name="action" type="tns:action"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="SurveyOfCountryRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="survey" type="tns:SurveyOfCountry"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="InternationalGroupRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="group" type="tns:Group"/>
          <xs:element name="user" type="tns:User"/>
          <xs:element name="status" type="tns:GroupStatus"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="Membership">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN"/>
      <xs:enumeration value="FULL_MEMBER"/>
      <xs:enumeration value="ASSOCIATE_MEMBER"/>
      <xs:enumeration value="COOPERATING_INSTITUTION"/>
      <xs:enumeration value="FORMER_MEMBER"/>
      <xs:enumeration value="LISTED"/>
      <xs:enumeration value="UNLISTED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GroupStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="SUSPENDED"/>
      <xs:enumeration value="DELETED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SortingField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CREATED"/>
      <xs:enumeration value="NAME"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Currency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AED"/>
      <xs:enumeration value="AFN"/>
      <xs:enumeration value="ALL"/>
      <xs:enumeration value="AMD"/>
      <xs:enumeration value="ANG"/>
      <xs:enumeration value="AOA"/>
      <xs:enumeration value="ARS"/>
      <xs:enumeration value="AUD"/>
      <xs:enumeration value="AWG"/>
      <xs:enumeration value="AZN"/>
      <xs:enumeration value="BAM"/>
      <xs:enumeration value="BBD"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BGN"/>
      <xs:enumeration value="BHD"/>
      <xs:enumeration value="BIF"/>
      <xs:enumeration value="BMD"/>
      <xs:enumeration value="BND"/>
      <xs:enumeration value="BOB"/>
      <xs:enumeration value="BRL"/>
      <xs:enumeration value="BSD"/>
      <xs:enumeration value="BTN"/>
      <xs:enumeration value="BWP"/>
      <xs:enumeration value="BYR"/>
      <xs:enumeration value="BZD"/>
      <xs:enumeration value="CAD"/>
      <xs:enumeration value="CDF"/>
      <xs:enumeration value="CHF"/>
      <xs:enumeration value="CLP"/>
      <xs:enumeration value="CNY"/>
      <xs:enumeration value="COP"/>
      <xs:enumeration value="CRC"/>
      <xs:enumeration value="CUC"/>
      <xs:enumeration value="CUP"/>
      <xs:enumeration value="CVE"/>
      <xs:enumeration value="CZK"/>
      <xs:enumeration value="DJF"/>
      <xs:enumeration value="DKK"/>
      <xs:enumeration value="DOP"/>
      <xs:enumeration value="DZD"/>
      <xs:enumeration value="EGP"/>
      <xs:enumeration value="ERN"/>
      <xs:enumeration value="ETB"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="FJD"/>
      <xs:enumeration value="FKP"/>
      <xs:enumeration value="GBP"/>
      <xs:enumeration value="GEL"/>
      <xs:enumeration value="GGP"/>
      <xs:enumeration value="GHS"/>
      <xs:enumeration value="GIP"/>
      <xs:enumeration value="GMD"/>
      <xs:enumeration value="GNF"/>
      <xs:enumeration value="GTQ"/>
      <xs:enumeration value="GYD"/>
      <xs:enumeration value="HKD"/>
      <xs:enumeration value="HNL"/>
      <xs:enumeration value="HRK"/>
      <xs:enumeration value="HTG"/>
      <xs:enumeration value="HUF"/>
      <xs:enumeration value="IDR"/>
      <xs:enumeration value="ILS"/>
      <xs:enumeration value="IMP"/>
      <xs:enumeration value="INR"/>
      <xs:enumeration value="IQD"/>
      <xs:enumeration value="IRR"/>
      <xs:enumeration value="ISK"/>
      <xs:enumeration value="JEP"/>
      <xs:enumeration value="JMD"/>
      <xs:enumeration value="JOD"/>
      <xs:enumeration value="JPY"/>
      <xs:enumeration value="KES"/>
      <xs:enumeration value="KGS"/>
      <xs:enumeration value="KHR"/>
      <xs:enumeration value="KMF"/>
      <xs:enumeration value="KPW"/>
      <xs:enumeration value="KRW"/>
      <xs:enumeration value="KWD"/>
      <xs:enumeration value="KYD"/>
      <xs:enumeration value="KZT"/>
      <xs:enumeration value="LAK"/>
      <xs:enumeration value="LBP"/>
      <xs:enumeration value="LKR"/>
      <xs:enumeration value="LRD"/>
      <xs:enumeration value="LSL"/>
      <xs:enumeration value="LTL"/>
      <xs:enumeration value="LVL"/>
      <xs:enumeration value="LYD"/>
      <xs:enumeration value="MAD"/>
      <xs:enumeration value="MDL"/>
      <xs:enumeration value="MGA"/>
      <xs:enumeration value="MKD"/>
      <xs:enumeration value="MMK"/>
      <xs:enumeration value="MNT"/>
      <xs:enumeration value="MOP"/>
      <xs:enumeration value="MRO"/>
      <xs:enumeration value="MUR"/>
      <xs:enumeration value="MVR"/>
      <xs:enumeration value="MWK"/>
      <xs:enumeration value="MXN"/>
      <xs:enumeration value="MYR"/>
      <xs:enumeration value="MZN"/>
      <xs:enumeration value="NAD"/>
      <xs:enumeration value="NGN"/>
      <xs:enumeration value="NIO"/>
      <xs:enumeration value="NOK"/>
      <xs:enumeration value="NPR"/>
      <xs:enumeration value="NZD"/>
      <xs:enumeration value="OMR"/>
      <xs:enumeration value="PAB"/>
      <xs:enumeration value="PEN"/>
      <xs:enumeration value="PGK"/>
      <xs:enumeration value="PHP"/>
      <xs:enumeration value="PKR"/>
      <xs:enumeration value="PLN"/>
      <xs:enumeration value="PYG"/>
      <xs:enumeration value="QAR"/>
      <xs:enumeration value="RON"/>
      <xs:enumeration value="RSD"/>
      <xs:enumeration value="RUB"/>
      <xs:enumeration value="RWF"/>
      <xs:enumeration value="SAR"/>
      <xs:enumeration value="SBD"/>
      <xs:enumeration value="SCR"/>
      <xs:enumeration value="SDG"/>
      <xs:enumeration value="SEK"/>
      <xs:enumeration value="SGD"/>
      <xs:enumeration value="SHP"/>
      <xs:enumeration value="SLL"/>
      <xs:enumeration value="SOS"/>
      <xs:enumeration value="SPL"/>
      <xs:enumeration value="SRD"/>
      <xs:enumeration value="STD"/>
      <xs:enumeration value="SVC"/>
      <xs:enumeration value="SYP"/>
      <xs:enumeration value="SZL"/>
      <xs:enumeration value="THB"/>
      <xs:enumeration value="TJS"/>
      <xs:enumeration value="TMT"/>
      <xs:enumeration value="TND"/>
      <xs:enumeration value="TOP"/>
      <xs:enumeration value="TRY"/>
      <xs:enumeration value="TTD"/>
      <xs:enumeration value="TVD"/>
      <xs:enumeration value="TWD"/>
      <xs:enumeration value="TZS"/>
      <xs:enumeration value="UAH"/>
      <xs:enumeration value="UGX"/>
      <xs:enumeration value="USD"/>
      <xs:enumeration value="UYU"/>
      <xs:enumeration value="UZS"/>
      <xs:enumeration value="VEF"/>
      <xs:enumeration value="VND"/>
      <xs:enumeration value="VUV"/>
      <xs:enumeration value="WST"/>
      <xs:enumeration value="XAF"/>
      <xs:enumeration value="XCD"/>
      <xs:enumeration value="XDR"/>
      <xs:enumeration value="XOF"/>
      <xs:enumeration value="XPF"/>
      <xs:enumeration value="YER"/>
      <xs:enumeration value="ZAR"/>
      <xs:enumeration value="ZMW"/>
      <xs:enumeration value="ZWD"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MALE"/>
      <xs:enumeration value="FEMALE"/>
      <xs:enumeration value="UNKNOWN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="UserStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NEW"/>
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="SUSPENDED"/>
      <xs:enumeration value="DELETED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Privacy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PUBLIC"/>
      <xs:enumeration value="PROTECTED"/>
      <xs:enumeration value="PRIVATE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NotificationFrequency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IMMEDIATELY"/>
      <xs:enumeration value="DAILY"/>
      <xs:enumeration value="WEEKLY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GroupType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMINISTRATION"/>
      <xs:enumeration value="PRIVATE"/>
      <xs:enumeration value="MEMBER"/>
      <xs:enumeration value="INTERNATIONAL"/>
      <xs:enumeration value="NATIONAL"/>
      <xs:enumeration value="LOCAL"/>
      <xs:enumeration value="WORKGROUP"/>
      <xs:enumeration value="STUDENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MonitoringLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="MARKED"/>
      <xs:enumeration value="DETAILED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Permission">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FETCH_COUNTRIES"/>
      <xs:enumeration value="PROCESS_COUNTRY"/>
      <xs:enumeration value="CONTROL_USER_ACCOUNT"/>
      <xs:enumeration value="CREATE_STUDENT_ACCOUNT"/>
      <xs:enumeration value="FETCH_USER"/>
      <xs:enumeration value="CHANGE_ACCOUNT_NAME"/>
      <xs:enumeration value="PROCESS_GROUP"/>
      <xs:enumeration value="CHANGE_GROUP_OWNER"/>
      <xs:enumeration value="DELETE_GROUP"/>
      <xs:enumeration value="PROCESS_USER_GROUP_ASSIGNMENT"/>
      <xs:enumeration value="FETCH_EMERGENCY_LIST"/>
      <xs:enumeration value="FETCH_COMMITTEES"/>
      <xs:enumeration value="PROCESS_COMMITTEE"/>
      <xs:enumeration value="FETCH_INTERNATIONAL_GROUPS"/>
      <xs:enumeration value="PROCESS_INTERNATIONAL_GROUP"/>
      <xs:enumeration value="FETCH_SURVEY_OF_COUNTRIES"/>
      <xs:enumeration value="PROCESS_SURVEY_OF_COUNTRIES"/>
      <xs:enumeration value="PROCESS_FILE"/>
      <xs:enumeration value="FETCH_FILE"/>
      <xs:enumeration value="PROCESS_FOLDER"/>
      <xs:enumeration value="FETCH_FOLDER"/>
      <xs:enumeration value="FETCH_OFFER_STATISTICS"/>
      <xs:enumeration value="PROCESS_EMPLOYER"/>
      <xs:enumeration value="FETCH_EMPLOYERS"/>
      <xs:enumeration value="PROCESS_OFFER"/>
      <xs:enumeration value="FETCH_OFFERS"/>
      <xs:enumeration value="FETCH_GROUPS_FOR_SHARING"/>
      <xs:enumeration value="PROCESS_OFFER_TEMPLATES"/>
      <xs:enumeration value="FETCH_OFFER_TEMPLATES"/>
      <xs:enumeration value="PROCESS_PUBLISH_OFFER"/>
      <xs:enumeration value="FETCH_PUBLISH_GROUPS"/>
      <xs:enumeration value="APPLY_FOR_OPEN_OFFER"/>
      <xs:enumeration value="PROCESS_STUDENT"/>
      <xs:enumeration value="FETCH_STUDENTS"/>
      <xs:enumeration value="FETCH_STUDENT_APPLICATION"/>
      <xs:enumeration value="PROCESS_STUDENT_APPLICATION"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="action">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CREATE"/>
      <xs:enumeration value="UPDATE"/>
      <xs:enumeration value="CHANGE_NS"/>
      <xs:enumeration value="MERGE"/>
      <xs:enumeration value="UPGRADE"/>
      <xs:enumeration value="ACTIVATE"/>
      <xs:enumeration value="SUSPEND"/>
      <xs:enumeration value="DELETE"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="fetchCommittees">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:FetchCommitteeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchCommitteesResponse">
    <wsdl:part name="response" type="tns:fetchCommitteeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchInternationalGroups">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:FetchInternationalGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processSurveyOfCountryResponse">
    <wsdl:part name="response" type="tns:FallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchInternationalGroupsResponse">
    <wsdl:part name="response" type="tns:FetchInternationalGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchSurveyOfCountry">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:FetchSurveyOfCountryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processCommittee">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:CommitteeRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processSurveyOfCountry">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:SurveyOfCountryRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processCommitteeResponse">
    <wsdl:part name="response" type="tns:FallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processInternationalGroupResponse">
    <wsdl:part name="response" type="tns:FallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processInternationalGroup">
    <wsdl:part name="token" type="tns:AuthenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:InternationalGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchSurveyOfCountryResponse">
    <wsdl:part name="response" type="tns:FetchSurveyOfCountryRespose">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="committeeWS">
    <wsdl:operation name="fetchCommittees">
      <wsdl:input message="tns:fetchCommittees" name="fetchCommittees">
    </wsdl:input>
      <wsdl:output message="tns:fetchCommitteesResponse" name="fetchCommitteesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchInternationalGroups">
      <wsdl:input message="tns:fetchInternationalGroups" name="fetchInternationalGroups">
    </wsdl:input>
      <wsdl:output message="tns:fetchInternationalGroupsResponse" name="fetchInternationalGroupsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchSurveyOfCountry">
      <wsdl:input message="tns:fetchSurveyOfCountry" name="fetchSurveyOfCountry">
    </wsdl:input>
      <wsdl:output message="tns:fetchSurveyOfCountryResponse" name="fetchSurveyOfCountryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processCommittee">
      <wsdl:input message="tns:processCommittee" name="processCommittee">
    </wsdl:input>
      <wsdl:output message="tns:processCommitteeResponse" name="processCommitteeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processSurveyOfCountry">
      <wsdl:input message="tns:processSurveyOfCountry" name="processSurveyOfCountry">
    </wsdl:input>
      <wsdl:output message="tns:processSurveyOfCountryResponse" name="processSurveyOfCountryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processInternationalGroup">
      <wsdl:input message="tns:processInternationalGroup" name="processInternationalGroup">
    </wsdl:input>
      <wsdl:output message="tns:processInternationalGroupResponse" name="processInternationalGroupResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="committeeWSServiceSoapBinding" type="tns:committeeWS">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="fetchCommittees">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchCommittees">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchCommitteesResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchInternationalGroups">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchInternationalGroups">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchInternationalGroupsResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchSurveyOfCountry">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchSurveyOfCountry">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchSurveyOfCountryResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processCommittee">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="processCommittee">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="processCommitteeResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processSurveyOfCountry">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="processSurveyOfCountry">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="processSurveyOfCountryResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processInternationalGroup">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="processInternationalGroup">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="processInternationalGroupResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="committeeWSService">
    <wsdl:port binding="tns:committeeWSServiceSoapBinding" name="committeeWS">
      <soap:address location="http://localhost:8080/iws-ws/committeeWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>