iws-ws-client/src/main/resources/exchange.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.iws.iaeste.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="exchangeWSService" targetNamespace="http://ws.iws.iaeste.net/">
  <wsdl:types>
    <wsdl:documentation>
        Service: IWS Exchange Service
        Version: 1.2.20160503
        Owner:   Kim Jensen
    </wsdl:documentation>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.iws.iaeste.net/" targetNamespace="http://ws.iws.iaeste.net/" version="1.0">

  <xs:complexType final="extension restriction" name="authenticationToken">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="token" type="xs:string"/>
          <xs:element name="groupId" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="verifications">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="offerCSVUploadRequest">
    <xs:complexContent>
      <xs:extension base="tns:paginatable">
        <xs:sequence>
          <xs:element name="csv" type="xs:string"/>
          <xs:element name="delimiter" type="tns:fieldDelimiter"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="paginatable">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="page" type="tns:page"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="page">
    <xs:sequence>
      <xs:element name="pageNumber" type="xs:int"/>
      <xs:element name="pageSize" type="xs:int"/>
      <xs:element minOccurs="0" name="sortOrder" type="tns:sortingOrder"/>
      <xs:element minOccurs="0" name="sortBy" type="tns:sortingField"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="offerCSVUploadResponse">
    <xs:complexContent>
      <xs:extension base="tns:fallibleResponse">
        <xs:sequence>
          <xs:element name="processingResult">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string"/>
                      <xs:element minOccurs="0" name="value" type="tns:processingResult"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="errors">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string"/>
                      <xs:element minOccurs="0" name="value" type="tns:csvProcessingErrors"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fallibleResponse">
    <xs:sequence>
      <xs:element name="error" type="tns:iwsError"/>
      <xs:element name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="csvProcessingErrors">
    <xs:sequence>
      <xs:element name="csvErrors">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string"/>
                  <xs:element minOccurs="0" name="value" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="iwsError">
    <xs:sequence>
      <xs:element name="error" type="xs:int"/>
      <xs:element name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchPublishGroupsRequest">
    <xs:complexContent>
      <xs:extension base="tns:paginatable">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchPublishingGroupResponse">
    <xs:complexContent>
      <xs:extension base="tns:fallibleResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="publishingGroups" nillable="true" type="tns:publishingGroup"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="publishingGroup">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="publishingGroupId" nillable="true" type="xs:string"/>
          <xs:element name="name" type="xs:string"/>
          <xs:element maxOccurs="unbounded" name="groups" type="tns:group"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="group">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="groupId" nillable="true" type="xs:string"/>
          <xs:element name="parentId" nillable="true" type="xs:string"/>
          <xs:element name="groupName" type="xs:string"/>
          <xs:element name="fullName" nillable="true" type="xs:string"/>
          <xs:element name="listName" nillable="true" type="xs:string"/>
          <xs:element name="privateList" type="xs:boolean"/>
          <xs:element name="privateListReplyTo" type="tns:mailReply"/>
          <xs:element name="publicList" type="xs:boolean"/>
          <xs:element name="publicListReplyTo" type="tns:mailReply"/>
          <xs:element name="groupType" type="tns:groupType"/>
          <xs:element name="description" nillable="true" type="xs:string"/>
          <xs:element name="monitoringLevel" nillable="true" type="tns:monitoringLevel"/>
          <xs:element name="country" nillable="true" type="tns:country"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="country">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="countryCode" type="xs:string"/>
          <xs:element name="countryName" type="xs:string"/>
          <xs:element name="countryNameFull" nillable="true" type="xs:string"/>
          <xs:element name="countryNameNative" nillable="true" type="xs:string"/>
          <xs:element name="nationality" nillable="true" type="xs:string"/>
          <xs:element name="citizens" nillable="true" type="xs:string"/>
          <xs:element name="phonecode" nillable="true" type="xs:string"/>
          <xs:element name="currency" type="tns:currency"/>
          <xs:element name="languages" nillable="true" type="xs:string"/>
          <xs:element name="membership" nillable="true" type="tns:membership"/>
          <xs:element name="memberSince" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="hideForeignOffersRequest">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="offers" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchEmployerRequest">
    <xs:complexContent>
      <xs:extension base="tns:paginatable">
        <xs:sequence>
          <xs:element name="type" type="tns:employerFetchType"/>
          <xs:element name="field" nillable="true" type="xs:string"/>
          <xs:element name="fetchOfferReferenceNumbers" nillable="true" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchEmployerResponse">
    <xs:complexContent>
      <xs:extension base="tns:fallibleResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="employers" type="tns:employer"/>
          <xs:element maxOccurs="unbounded" name="offerRefNos" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="employer">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="employerId" nillable="true" type="xs:string"/>
          <xs:element name="group" type="tns:group"/>
          <xs:element name="name" type="xs:string"/>
          <xs:element name="department" type="xs:string"/>
          <xs:element name="business" nillable="true" type="xs:string"/>
          <xs:element name="address" type="tns:address"/>
          <xs:element name="employeesCount" nillable="true" type="xs:string"/>
          <xs:element name="website" nillable="true" type="xs:string"/>
          <xs:element name="workingPlace" type="xs:string"/>
          <xs:element name="canteen" nillable="true" type="xs:boolean"/>
          <xs:element name="nearestAirport" nillable="true" type="xs:string"/>
          <xs:element name="nearestPublicTransport" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="offerReferenceNumbers" nillable="true" type="xs:string"/>
          <xs:element name="modified" nillable="true" type="tns:dateTime"/>
          <xs:element name="created" nillable="true" type="tns:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="address">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="street1" nillable="true" type="xs:string"/>
          <xs:element name="street2" nillable="true" type="xs:string"/>
          <xs:element name="postalCode" nillable="true" type="xs:string"/>
          <xs:element name="city" nillable="true" type="xs:string"/>
          <xs:element name="state" nillable="true" type="xs:string"/>
          <xs:element name="pobox" nillable="true" type="xs:string"/>
          <xs:element name="country" nillable="true" type="tns:country"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="dateTime">
    <xs:sequence>
      <xs:element name="timestamp" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="rejectOfferRequest">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="offerId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="processEmployerRequest">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="employer" type="tns:employer"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="employerResponse">
    <xs:complexContent>
      <xs:extension base="tns:fallibleResponse">
        <xs:sequence>
          <xs:element name="employer" nillable="true" type="tns:employer"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="publishOfferRequest">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="offerIds" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" name="groupIds" nillable="true" type="xs:string"/>
          <xs:element name="nominationDeadline" nillable="true" type="tns:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="date">
    <xs:sequence>
      <xs:element name="midnight" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="publishOfferResponse">
    <xs:complexContent>
      <xs:extension base="tns:fallibleResponse">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="deleteOfferRequest">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="offerId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="offerResponse">
    <xs:complexContent>
      <xs:extension base="tns:fallibleResponse">
        <xs:sequence>
          <xs:element name="offer" nillable="true" type="tns:offer"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="offer">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="offerId" nillable="true" type="xs:string"/>
          <xs:element name="refNo" type="xs:string"/>
          <xs:element name="offerType" type="tns:offerType"/>
          <xs:element name="exchangeType" nillable="true" type="tns:exchangeType"/>
          <xs:element name="oldRefNo" nillable="true" type="xs:string"/>
          <xs:element name="employer" type="tns:employer"/>
          <xs:element name="workDescription" type="xs:string"/>
          <xs:element name="typeOfWork" type="tns:typeOfWork"/>
          <xs:element name="weeklyHours" type="xs:float"/>
          <xs:element name="dailyHours" nillable="true" type="xs:float"/>
          <xs:element name="weeklyWorkDays" nillable="true" type="xs:float"/>
          <xs:element maxOccurs="unbounded" name="studyLevels" type="tns:studyLevel"/>
          <xs:element maxOccurs="unbounded" name="fieldOfStudies" nillable="true" type="tns:fieldOfStudy"/>
          <xs:element maxOccurs="unbounded" name="specializations" nillable="true" type="xs:string"/>
          <xs:element name="previousTrainingRequired" nillable="true" type="xs:boolean"/>
          <xs:element name="otherRequirements" nillable="true" type="xs:string"/>
          <xs:element name="minimumWeeks" type="xs:int"/>
          <xs:element name="maximumWeeks" type="xs:int"/>
          <xs:element name="period1" type="tns:datePeriod"/>
          <xs:element name="period2" nillable="true" type="tns:datePeriod"/>
          <xs:element name="unavailable" nillable="true" type="tns:datePeriod"/>
          <xs:element name="language1" type="tns:language"/>
          <xs:element name="language1Level" type="tns:languageLevel"/>
          <xs:element name="language1Operator" nillable="true" type="tns:languageOperator"/>
          <xs:element name="language2" nillable="true" type="tns:language"/>
          <xs:element name="language2Level" nillable="true" type="tns:languageLevel"/>
          <xs:element name="language2Operator" nillable="true" type="tns:languageOperator"/>
          <xs:element name="language3" nillable="true" type="tns:language"/>
          <xs:element name="language3Level" nillable="true" type="tns:languageLevel"/>
          <xs:element name="payment" nillable="true" type="xs:decimal"/>
          <xs:element name="paymentFrequency" nillable="true" type="tns:paymentFrequency"/>
          <xs:element name="currency" nillable="true" type="tns:currency"/>
          <xs:element name="deduction" nillable="true" type="xs:string"/>
          <xs:element name="livingCost" nillable="true" type="xs:decimal"/>
          <xs:element name="livingCostFrequency" nillable="true" type="tns:paymentFrequency"/>
          <xs:element name="lodgingBy" nillable="true" type="xs:string"/>
          <xs:element name="lodgingCost" nillable="true" type="xs:decimal"/>
          <xs:element name="lodgingCostFrequency" nillable="true" type="tns:paymentFrequency"/>
          <xs:element name="nominationDeadline" nillable="true" type="tns:date"/>
          <xs:element name="numberOfHardCopies" nillable="true" type="xs:int"/>
          <xs:element name="additionalInformation" nillable="true" type="xs:string"/>
          <xs:element name="privateComment" nillable="true" type="xs:string"/>
          <xs:element name="status" nillable="true" type="tns:offerState"/>
          <xs:element name="modified" nillable="true" type="tns:dateTime"/>
          <xs:element name="created" nillable="true" type="tns:dateTime"/>
          <xs:element name="nsFirstname" nillable="true" type="xs:string"/>
          <xs:element name="nsLastname" nillable="true" type="xs:string"/>
          <xs:element name="shared" nillable="true" type="tns:dateTime"/>
          <xs:element name="hidden" nillable="true" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="datePeriod">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="fromDate" type="tns:date"/>
          <xs:element name="toDate" type="tns:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchOffersRequest">
    <xs:complexContent>
      <xs:extension base="tns:paginatable">
        <xs:sequence>
          <xs:element name="fetchType" type="tns:fetchType"/>
          <xs:element maxOccurs="unbounded" name="identifiers" type="xs:string"/>
          <xs:element name="exchangeYear" type="xs:int"/>
          <xs:element maxOccurs="unbounded" name="states" type="tns:offerState"/>
          <xs:element name="retrieveCurrentAndNextExchangeYear" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="offerCSVDownloadResponse">
    <xs:complexContent>
      <xs:extension base="tns:fallibleResponse">
        <xs:sequence>
          <xs:element name="csv" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="processPublishingGroupRequest">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="publishingGroup" nillable="true" type="tns:publishingGroup"/>
          <xs:element name="publishingGroupId" nillable="true" type="xs:string"/>
          <xs:element name="action" type="tns:action"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchPublishedGroupsRequest">
    <xs:complexContent>
      <xs:extension base="tns:paginatable">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="identifiers" type="xs:string"/>
          <xs:element name="exchangeYear" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchPublishedGroupsResponse">
    <xs:complexContent>
      <xs:extension base="tns:fallibleResponse">
        <xs:sequence>
          <xs:element name="offersGroups">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string"/>
                      <xs:element minOccurs="0" name="value" type="tns:groupList"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="groupList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="groups" nillable="true" type="tns:group"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchOffersResponse">
    <xs:complexContent>
      <xs:extension base="tns:fallibleResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="offers" nillable="true" type="tns:offer"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="offerStatisticsRequest">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="exchangeYear" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="offerStatisticsResponse">
    <xs:complexContent>
      <xs:extension base="tns:fallibleResponse">
        <xs:sequence>
          <xs:element name="domesticStatistics" nillable="true" type="tns:offerStatistics"/>
          <xs:element name="foreignStatistics" nillable="true" type="tns:offerStatistics"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="offerStatistics">
    <xs:sequence>
      <xs:element name="statistics">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="tns:offerState"/>
                  <xs:element minOccurs="0" name="value" type="xs:int"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="exchangeYear" nillable="true" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="processOfferRequest">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="offer" type="tns:offer"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchGroupsForSharingResponse">
    <xs:complexContent>
      <xs:extension base="tns:fallibleResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="groups" nillable="true" type="tns:group"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="fieldDelimiter">
    <xs:restriction base="xs:string">
      <xs:enumeration value="COMMA"/>
      <xs:enumeration value="SEMICOLON"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sortingOrder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ASC"/>
      <xs:enumeration value="DESC"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sortingField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CREATED"/>
      <xs:enumeration value="NAME"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="processingResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDED"/>
      <xs:enumeration value="UPDATED"/>
      <xs:enumeration value="ERROR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="mailReply">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REPLY_TO_SENDER"/>
      <xs:enumeration value="REPLY_TO_LIST"/>
      <xs:enumeration value="NO_REPLY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="groupType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMINISTRATION"/>
      <xs:enumeration value="PRIVATE"/>
      <xs:enumeration value="MEMBER"/>
      <xs:enumeration value="INTERNATIONAL"/>
      <xs:enumeration value="NATIONAL"/>
      <xs:enumeration value="LOCAL"/>
      <xs:enumeration value="WORKGROUP"/>
      <xs:enumeration value="STUDENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="monitoringLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="MARKED"/>
      <xs:enumeration value="DETAILED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="currency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AED"/>
      <xs:enumeration value="AFN"/>
      <xs:enumeration value="ALL"/>
      <xs:enumeration value="AMD"/>
      <xs:enumeration value="ANG"/>
      <xs:enumeration value="AOA"/>
      <xs:enumeration value="ARS"/>
      <xs:enumeration value="AUD"/>
      <xs:enumeration value="AWG"/>
      <xs:enumeration value="AZN"/>
      <xs:enumeration value="BAM"/>
      <xs:enumeration value="BBD"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BGN"/>
      <xs:enumeration value="BHD"/>
      <xs:enumeration value="BIF"/>
      <xs:enumeration value="BMD"/>
      <xs:enumeration value="BND"/>
      <xs:enumeration value="BOB"/>
      <xs:enumeration value="BRL"/>
      <xs:enumeration value="BSD"/>
      <xs:enumeration value="BTN"/>
      <xs:enumeration value="BWP"/>
      <xs:enumeration value="BYR"/>
      <xs:enumeration value="BZD"/>
      <xs:enumeration value="CAD"/>
      <xs:enumeration value="CDF"/>
      <xs:enumeration value="CHF"/>
      <xs:enumeration value="CLP"/>
      <xs:enumeration value="CNY"/>
      <xs:enumeration value="COP"/>
      <xs:enumeration value="CRC"/>
      <xs:enumeration value="CUC"/>
      <xs:enumeration value="CUP"/>
      <xs:enumeration value="CVE"/>
      <xs:enumeration value="CZK"/>
      <xs:enumeration value="DJF"/>
      <xs:enumeration value="DKK"/>
      <xs:enumeration value="DOP"/>
      <xs:enumeration value="DZD"/>
      <xs:enumeration value="EGP"/>
      <xs:enumeration value="ERN"/>
      <xs:enumeration value="ETB"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="FJD"/>
      <xs:enumeration value="FKP"/>
      <xs:enumeration value="GBP"/>
      <xs:enumeration value="GEL"/>
      <xs:enumeration value="GGP"/>
      <xs:enumeration value="GHS"/>
      <xs:enumeration value="GIP"/>
      <xs:enumeration value="GMD"/>
      <xs:enumeration value="GNF"/>
      <xs:enumeration value="GTQ"/>
      <xs:enumeration value="GYD"/>
      <xs:enumeration value="HKD"/>
      <xs:enumeration value="HNL"/>
      <xs:enumeration value="HRK"/>
      <xs:enumeration value="HTG"/>
      <xs:enumeration value="HUF"/>
      <xs:enumeration value="IDR"/>
      <xs:enumeration value="ILS"/>
      <xs:enumeration value="IMP"/>
      <xs:enumeration value="INR"/>
      <xs:enumeration value="IQD"/>
      <xs:enumeration value="IRR"/>
      <xs:enumeration value="ISK"/>
      <xs:enumeration value="JEP"/>
      <xs:enumeration value="JMD"/>
      <xs:enumeration value="JOD"/>
      <xs:enumeration value="JPY"/>
      <xs:enumeration value="KES"/>
      <xs:enumeration value="KGS"/>
      <xs:enumeration value="KHR"/>
      <xs:enumeration value="KMF"/>
      <xs:enumeration value="KPW"/>
      <xs:enumeration value="KRW"/>
      <xs:enumeration value="KWD"/>
      <xs:enumeration value="KYD"/>
      <xs:enumeration value="KZT"/>
      <xs:enumeration value="LAK"/>
      <xs:enumeration value="LBP"/>
      <xs:enumeration value="LKR"/>
      <xs:enumeration value="LRD"/>
      <xs:enumeration value="LSL"/>
      <xs:enumeration value="LTL"/>
      <xs:enumeration value="LVL"/>
      <xs:enumeration value="LYD"/>
      <xs:enumeration value="MAD"/>
      <xs:enumeration value="MDL"/>
      <xs:enumeration value="MGA"/>
      <xs:enumeration value="MKD"/>
      <xs:enumeration value="MMK"/>
      <xs:enumeration value="MNT"/>
      <xs:enumeration value="MOP"/>
      <xs:enumeration value="MRO"/>
      <xs:enumeration value="MUR"/>
      <xs:enumeration value="MVR"/>
      <xs:enumeration value="MWK"/>
      <xs:enumeration value="MXN"/>
      <xs:enumeration value="MYR"/>
      <xs:enumeration value="MZN"/>
      <xs:enumeration value="NAD"/>
      <xs:enumeration value="NGN"/>
      <xs:enumeration value="NIO"/>
      <xs:enumeration value="NOK"/>
      <xs:enumeration value="NPR"/>
      <xs:enumeration value="NZD"/>
      <xs:enumeration value="OMR"/>
      <xs:enumeration value="PAB"/>
      <xs:enumeration value="PEN"/>
      <xs:enumeration value="PGK"/>
      <xs:enumeration value="PHP"/>
      <xs:enumeration value="PKR"/>
      <xs:enumeration value="PLN"/>
      <xs:enumeration value="PYG"/>
      <xs:enumeration value="QAR"/>
      <xs:enumeration value="RON"/>
      <xs:enumeration value="RSD"/>
      <xs:enumeration value="RUB"/>
      <xs:enumeration value="RWF"/>
      <xs:enumeration value="SAR"/>
      <xs:enumeration value="SBD"/>
      <xs:enumeration value="SCR"/>
      <xs:enumeration value="SDG"/>
      <xs:enumeration value="SEK"/>
      <xs:enumeration value="SGD"/>
      <xs:enumeration value="SHP"/>
      <xs:enumeration value="SLL"/>
      <xs:enumeration value="SOS"/>
      <xs:enumeration value="SPL"/>
      <xs:enumeration value="SRD"/>
      <xs:enumeration value="STD"/>
      <xs:enumeration value="SVC"/>
      <xs:enumeration value="SYP"/>
      <xs:enumeration value="SZL"/>
      <xs:enumeration value="THB"/>
      <xs:enumeration value="TJS"/>
      <xs:enumeration value="TMT"/>
      <xs:enumeration value="TND"/>
      <xs:enumeration value="TOP"/>
      <xs:enumeration value="TRY"/>
      <xs:enumeration value="TTD"/>
      <xs:enumeration value="TVD"/>
      <xs:enumeration value="TWD"/>
      <xs:enumeration value="TZS"/>
      <xs:enumeration value="UAH"/>
      <xs:enumeration value="UGX"/>
      <xs:enumeration value="USD"/>
      <xs:enumeration value="UYU"/>
      <xs:enumeration value="UZS"/>
      <xs:enumeration value="VEF"/>
      <xs:enumeration value="VND"/>
      <xs:enumeration value="VUV"/>
      <xs:enumeration value="WST"/>
      <xs:enumeration value="XAF"/>
      <xs:enumeration value="XCD"/>
      <xs:enumeration value="XDR"/>
      <xs:enumeration value="XOF"/>
      <xs:enumeration value="XPF"/>
      <xs:enumeration value="YER"/>
      <xs:enumeration value="ZAR"/>
      <xs:enumeration value="ZMW"/>
      <xs:enumeration value="ZWD"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="membership">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN"/>
      <xs:enumeration value="FULL_MEMBER"/>
      <xs:enumeration value="ASSOCIATE_MEMBER"/>
      <xs:enumeration value="COOPERATING_INSTITUTION"/>
      <xs:enumeration value="FORMER_MEMBER"/>
      <xs:enumeration value="LISTED"/>
      <xs:enumeration value="UNLISTED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="employerFetchType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ALL"/>
      <xs:enumeration value="NAME"/>
      <xs:enumeration value="ID"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="offerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OPEN"/>
      <xs:enumeration value="LIMITED"/>
      <xs:enumeration value="RESERVED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="exchangeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IW"/>
      <xs:enumeration value="AC"/>
      <xs:enumeration value="COBE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="typeOfWork">
    <xs:restriction base="xs:string">
      <xs:enumeration value="R"/>
      <xs:enumeration value="O"/>
      <xs:enumeration value="F"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="studyLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="B"/>
      <xs:enumeration value="M"/>
      <xs:enumeration value="E"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fieldOfStudy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AERONAUTIC_ENGINEERING"/>
      <xs:enumeration value="AGRICULTURE"/>
      <xs:enumeration value="APPLIED_ARTS"/>
      <xs:enumeration value="AQUA_CULTURE"/>
      <xs:enumeration value="ARCHITECTURE"/>
      <xs:enumeration value="BIOLOGY"/>
      <xs:enumeration value="BIOMEDICAL_SCIENCE"/>
      <xs:enumeration value="BIOTECHNOLOGY"/>
      <xs:enumeration value="CHEMISTRY"/>
      <xs:enumeration value="CIVIL_ENGINEERING"/>
      <xs:enumeration value="ECONOMY_AND_MANAGEMENT"/>
      <xs:enumeration value="EDUCATION"/>
      <xs:enumeration value="ELECTRICAL_ENGINEERING"/>
      <xs:enumeration value="ENERGY_ENGINEERING"/>
      <xs:enumeration value="ENVIRONMENTAL_ENGINEERING"/>
      <xs:enumeration value="FOOD_SCIENCE"/>
      <xs:enumeration value="GEOSCIENCE"/>
      <xs:enumeration value="INDUSTRIAL_ENGINEERING"/>
      <xs:enumeration value="IT"/>
      <xs:enumeration value="MATERIAL_SCIENCE"/>
      <xs:enumeration value="MATHEMATICS"/>
      <xs:enumeration value="MECHANICAL_ENGINEERING"/>
      <xs:enumeration value="MEDIA_AND_MARKETING"/>
      <xs:enumeration value="PHYSICS"/>
      <xs:enumeration value="VETERINARY_SCIENCE"/>
      <xs:enumeration value="OTHER"/>
      <xs:enumeration value="ANY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="language">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ENGLISH"/>
      <xs:enumeration value="ARABIC"/>
      <xs:enumeration value="BELARUSIAN"/>
      <xs:enumeration value="BULGARIAN"/>
      <xs:enumeration value="CANTONESE_YUE_CHINESE"/>
      <xs:enumeration value="CROATIAN"/>
      <xs:enumeration value="CZECH"/>
      <xs:enumeration value="DANISH"/>
      <xs:enumeration value="DUTCH"/>
      <xs:enumeration value="ESTONIAN"/>
      <xs:enumeration value="FINNISH"/>
      <xs:enumeration value="FRENCH"/>
      <xs:enumeration value="GERMAN"/>
      <xs:enumeration value="GREEK"/>
      <xs:enumeration value="HUNGARIAN"/>
      <xs:enumeration value="INDONESIAN"/>
      <xs:enumeration value="ITALIAN"/>
      <xs:enumeration value="JAPANESE"/>
      <xs:enumeration value="KOREAN"/>
      <xs:enumeration value="LATVIAN"/>
      <xs:enumeration value="LITHUANIAN"/>
      <xs:enumeration value="MANDARIN_CHINESE"/>
      <xs:enumeration value="NORWEGIAN"/>
      <xs:enumeration value="PERSIAN"/>
      <xs:enumeration value="POLISH"/>
      <xs:enumeration value="PORTUGUESE"/>
      <xs:enumeration value="ROMANIAN"/>
      <xs:enumeration value="RUSSIAN"/>
      <xs:enumeration value="SERBIAN"/>
      <xs:enumeration value="SLOVAKIAN"/>
      <xs:enumeration value="SLOVENIAN"/>
      <xs:enumeration value="SPANISH"/>
      <xs:enumeration value="SWEDISH"/>
      <xs:enumeration value="TAJIK"/>
      <xs:enumeration value="THAI"/>
      <xs:enumeration value="TURKISH"/>
      <xs:enumeration value="VIETNAMESE"/>
      <xs:enumeration value="UKRAINIAN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="languageLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E"/>
      <xs:enumeration value="G"/>
      <xs:enumeration value="F"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="languageOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A"/>
      <xs:enumeration value="O"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="paymentFrequency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DAILY"/>
      <xs:enumeration value="WEEKLY"/>
      <xs:enumeration value="BYWEEKLY"/>
      <xs:enumeration value="MONTHLY"/>
      <xs:enumeration value="YEARLY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="offerState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NEW"/>
      <xs:enumeration value="OPEN"/>
      <xs:enumeration value="SHARED"/>
      <xs:enumeration value="APPLICATIONS"/>
      <xs:enumeration value="NOMINATIONS"/>
      <xs:enumeration value="DELETED"/>
      <xs:enumeration value="CLOSED"/>
      <xs:enumeration value="COMPLETED"/>
      <xs:enumeration value="AT_EMPLOYER"/>
      <xs:enumeration value="ACCEPTED"/>
      <xs:enumeration value="EXPIRED"/>
      <xs:enumeration value="REJECTED"/>
      <xs:enumeration value="CANCELLED"/>
      <xs:enumeration value="EXCHANGED"/>
      <xs:enumeration value="NOMINATION_REJECTED"/>
      <xs:enumeration value="NOT_ACCEPTED"/>
      <xs:enumeration value="DECLINED"/>
      <xs:enumeration value="SN_COMPLETE"/>
      <xs:enumeration value="TAKEN"/>
      <xs:enumeration value="NOMINATION_ACCEPTED"/>
      <xs:enumeration value="VIEWED"/>
      <xs:enumeration value="WAITING_SN"/>
      <xs:enumeration value="AC_EXCHANGED"/>
      <xs:enumeration value="UNKNOWN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="specialization">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMINISTRATION"/>
      <xs:enumeration value="AEROSPACE_ENGINEERING"/>
      <xs:enumeration value="AGRIBUSINESS"/>
      <xs:enumeration value="AGRONOMY_AGRO_ECOLOGY"/>
      <xs:enumeration value="ANALYTICAL_CHEMISTRY"/>
      <xs:enumeration value="ANIMAL_BEHAVIOUR"/>
      <xs:enumeration value="ANIMAL_BIOLOGY"/>
      <xs:enumeration value="ANIMAL_HUSBANDRY"/>
      <xs:enumeration value="ANIMAL_SCIENCE"/>
      <xs:enumeration value="APPLIED_MATHEMATICS"/>
      <xs:enumeration value="APPLIED_STATISTICS"/>
      <xs:enumeration value="AQUACULTURE_AQUAFARMING"/>
      <xs:enumeration value="ARTIFICIAL_INTELLIGENCE"/>
      <xs:enumeration value="ASTROPHYSICS"/>
      <xs:enumeration value="AUDIO_TECHNOLOGY"/>
      <xs:enumeration value="AUTOMATION"/>
      <xs:enumeration value="AUTOMOTIVE_ENGINEERING"/>
      <xs:enumeration value="AVIONICS"/>
      <xs:enumeration value="BIOCHEMISTRY"/>
      <xs:enumeration value="BIODIVERSITY"/>
      <xs:enumeration value="BIOENGINEERING"/>
      <xs:enumeration value="BIOINFORMATICS"/>
      <xs:enumeration value="BIOINSTRUMENTATION"/>
      <xs:enumeration value="BIOMATERIALS"/>
      <xs:enumeration value="BIOMECHANICS"/>
      <xs:enumeration value="BIONICS"/>
      <xs:enumeration value="BIOPHYSICS"/>
      <xs:enumeration value="BIOVETERINARY_SCIENCE"/>
      <xs:enumeration value="BOTANY"/>
      <xs:enumeration value="BREWING"/>
      <xs:enumeration value="BUSINESS_INFORMATICS"/>
      <xs:enumeration value="BUSINESS_INTELLIGENCE"/>
      <xs:enumeration value="CALCULUS"/>
      <xs:enumeration value="CELL_BIOLOGY"/>
      <xs:enumeration value="CHEMICAL_ENGINEERING"/>
      <xs:enumeration value="COMMERCE"/>
      <xs:enumeration value="COMMUNICATIONS_TECHNOLOGY"/>
      <xs:enumeration value="COMPUTATIONAL_PHYSICS"/>
      <xs:enumeration value="COMPUTER_ENGINEERING"/>
      <xs:enumeration value="COMPUTER_SCIENCE"/>
      <xs:enumeration value="CONSTRUCTION"/>
      <xs:enumeration value="CYBERNETICS"/>
      <xs:enumeration value="DAIRY_FARMING"/>
      <xs:enumeration value="DATABASE_ADMINISTRATION"/>
      <xs:enumeration value="DESIGN"/>
      <xs:enumeration value="DEVELOPMENT_STUDIES"/>
      <xs:enumeration value="DIGITAL_MEDIA"/>
      <xs:enumeration value="DISCRETE_MATHEMATICS"/>
      <xs:enumeration value="DRAWING"/>
      <xs:enumeration value="EARTH_SCIENCE"/>
      <xs:enumeration value="ECOLOGY"/>
      <xs:enumeration value="ECONOMIC_GEOGRAPHY"/>
      <xs:enumeration value="ECONOMICS"/>
      <xs:enumeration value="ELECTRIC_MOBILITY"/>
      <xs:enumeration value="ELECTRONICS"/>
      <xs:enumeration value="ENERGY_AND_PROCESS_ENGINEERING"/>
      <xs:enumeration value="ENERGY_SYSTEMS_PLANNING"/>
      <xs:enumeration value="ENTERPRISE_ENGINEERING"/>
      <xs:enumeration value="ENTOMOLOGY"/>
      <xs:enumeration value="ETHOLOGY"/>
      <xs:enumeration value="FACILITY_SURVEYING"/>
      <xs:enumeration value="FINANCIAL_MATHEMATICS"/>
      <xs:enumeration value="FISHERIES"/>
      <xs:enumeration value="FLUID_MECHANICS"/>
      <xs:enumeration value="FOOD_CHEMISTRY"/>
      <xs:enumeration value="FOOD_QUALITY_AND_SAFETY"/>
      <xs:enumeration value="FOOD_TECHNOLOGY"/>
      <xs:enumeration value="FOREST_ENGINEERING"/>
      <xs:enumeration value="FORESTRY"/>
      <xs:enumeration value="GENETICS"/>
      <xs:enumeration value="GEOCHEMISTRY"/>
      <xs:enumeration value="GEODESY_AND_CARTOGRAPHY"/>
      <xs:enumeration value="GEOECOLOGY"/>
      <xs:enumeration value="GEOGRAPHY"/>
      <xs:enumeration value="GEOLOGY"/>
      <xs:enumeration value="GEOMATICS"/>
      <xs:enumeration value="GEOMETRY"/>
      <xs:enumeration value="GEOPHYSICS"/>
      <xs:enumeration value="GEOTECHNOLOGY"/>
      <xs:enumeration value="GIS"/>
      <xs:enumeration value="GRAPHIC_DESIGN"/>
      <xs:enumeration value="GRAPHICS_AND_PRINTING"/>
      <xs:enumeration value="HORTICULTURE"/>
      <xs:enumeration value="HOTEL_MANAGEMENT"/>
      <xs:enumeration value="HYDRAULICS"/>
      <xs:enumeration value="IMMUNOLOGY"/>
      <xs:enumeration value="INDUSTRIAL_DESIGN"/>
      <xs:enumeration value="INDUSTRIAL_ECONOMICS"/>
      <xs:enumeration value="INDUSTRIAL_LOGISTICS"/>
      <xs:enumeration value="INFORMATICS"/>
      <xs:enumeration value="INFORMATION_SYSTEMS"/>
      <xs:enumeration value="INFORMATION_TECHNOLOGY"/>
      <xs:enumeration value="INNOVATION_MANAGEMENT"/>
      <xs:enumeration value="INNOVATION_STRATEGY"/>
      <xs:enumeration value="INORGANIC_CHEMISTRY"/>
      <xs:enumeration value="INSTRUMENTATION"/>
      <xs:enumeration value="INTERIOR_DESIGN"/>
      <xs:enumeration value="LAND_SURVEYING"/>
      <xs:enumeration value="LANDSCAPE_ARCHITECTURE"/>
      <xs:enumeration value="LANGUAGE"/>
      <xs:enumeration value="LIMNOLOGY"/>
      <xs:enumeration value="LOGISTICS"/>
      <xs:enumeration value="MACHINE_TECHNOLOGY"/>
      <xs:enumeration value="MARINE_AND_OFFSHORE_ENGINEERING"/>
      <xs:enumeration value="MARINE_BIOLOGY"/>
      <xs:enumeration value="MARINE_GEOLOGY"/>
      <xs:enumeration value="MARINE_TECHNOLOGY"/>
      <xs:enumeration value="MARKETING"/>
      <xs:enumeration value="MATERIAL_TECHNOLOGY"/>
      <xs:enumeration value="MECHATRONICS"/>
      <xs:enumeration value="MEDIA_TECHNOLOGY"/>
      <xs:enumeration value="MEDICAL_ENGINEERING"/>
      <xs:enumeration value="MEDICAL_PHYSICS"/>
      <xs:enumeration value="METALLURGY"/>
      <xs:enumeration value="MICROBIOLOGY"/>
      <xs:enumeration value="MILLING"/>
      <xs:enumeration value="MINERAL_PROCESSING"/>
      <xs:enumeration value="MINERALOGY"/>
      <xs:enumeration value="MINING"/>
      <xs:enumeration value="MOLECULAR_BIOLOGY"/>
      <xs:enumeration value="MYCOLOGY"/>
      <xs:enumeration value="NANOBIOTECHNOLOGY"/>
      <xs:enumeration value="NANOELECTRONICS"/>
      <xs:enumeration value="NANOMATERIALS"/>
      <xs:enumeration value="NANOTECHNOLOGY"/>
      <xs:enumeration value="NATURAL_RESOURCE_MANAGEMENT"/>
      <xs:enumeration value="NAVAL_ENGINEERING"/>
      <xs:enumeration value="NETWORKS"/>
      <xs:enumeration value="NEUROSCIENCE"/>
      <xs:enumeration value="NUCLEAR_ENERGY_ENGINEERING"/>
      <xs:enumeration value="NUTRITIONAL_SCIENCE"/>
      <xs:enumeration value="OCEANOGRAPHY"/>
      <xs:enumeration value="OECOTROPHOLOGY"/>
      <xs:enumeration value="OPTICS"/>
      <xs:enumeration value="OPTIMIZATION"/>
      <xs:enumeration value="ORGANIC_CHEMISTRY"/>
      <xs:enumeration value="PETROLEUM_ENGINEERING"/>
      <xs:enumeration value="PHARMACY"/>
      <xs:enumeration value="PHASE_TRANSITIONS"/>
      <xs:enumeration value="PHOTONICS"/>
      <xs:enumeration value="PHYSICAL_CHEMISTRY"/>
      <xs:enumeration value="PLANT_BIOLOGY"/>
      <xs:enumeration value="PLANT_SCIENCE"/>
      <xs:enumeration value="POLYMER_ENGINEERING"/>
      <xs:enumeration value="POLYMER_SCIENCE"/>
      <xs:enumeration value="PORT_LOGISTICS"/>
      <xs:enumeration value="POWER_ENGINEERING"/>
      <xs:enumeration value="POWER_GENERATION"/>
      <xs:enumeration value="PROCESS_ENGINEERING"/>
      <xs:enumeration value="PRODUCT_DESIGN"/>
      <xs:enumeration value="PRODUCT_DEVELOPMENT"/>
      <xs:enumeration value="PRODUCTION_MANAGEMENT"/>
      <xs:enumeration value="PROJECT_MANAGEMENT"/>
      <xs:enumeration value="PROTEOMICS"/>
      <xs:enumeration value="QUANTUM_MECHANICS"/>
      <xs:enumeration value="RENEWABLE_ENERGY"/>
      <xs:enumeration value="ROBOTICS"/>
      <xs:enumeration value="SCIENCE"/>
      <xs:enumeration value="SEAFOOD"/>
      <xs:enumeration value="SECURITY"/>
      <xs:enumeration value="SEISMOLOGY"/>
      <xs:enumeration value="SHIPBUILDING"/>
      <xs:enumeration value="SIMULATION"/>
      <xs:enumeration value="SOCIAL_MEDIA"/>
      <xs:enumeration value="SOFTWARE_DEVELOPMENT"/>
      <xs:enumeration value="SOFTWARE_ENGINEERING"/>
      <xs:enumeration value="SOIL_AND_AIR_POLLUTION"/>
      <xs:enumeration value="STATISTICAL_PHYSICS"/>
      <xs:enumeration value="STATISTICS"/>
      <xs:enumeration value="STRUCTURAL_ENGINEERING"/>
      <xs:enumeration value="SUSTAINABILITY"/>
      <xs:enumeration value="SYSTEM_ADMINISTRATION"/>
      <xs:enumeration value="SYSTEM_DEVELOPMENT"/>
      <xs:enumeration value="SYSTEM_ENGINEERING"/>
      <xs:enumeration value="TELECOMMUNICATIONS"/>
      <xs:enumeration value="TESTING"/>
      <xs:enumeration value="TEXTILE_TECHNOLOGY"/>
      <xs:enumeration value="THERMODYNAMICS"/>
      <xs:enumeration value="TOPOLOGY"/>
      <xs:enumeration value="TOXICOLOGY"/>
      <xs:enumeration value="TRAFFIC_ENGINEERING"/>
      <xs:enumeration value="URBAN_PLANNING"/>
      <xs:enumeration value="VETERINARY_MEDICINE"/>
      <xs:enumeration value="VETERINARY_SCIENCE"/>
      <xs:enumeration value="WASTEWATER_TREATMENT"/>
      <xs:enumeration value="WATER_ENGINEERING"/>
      <xs:enumeration value="WEB_DESIGN"/>
      <xs:enumeration value="WEB_DEVELOPMENT"/>
      <xs:enumeration value="WINERY"/>
      <xs:enumeration value="WOOD_AND_PAPER_ENGINEERING"/>
      <xs:enumeration value="WOOD_SCIENCE"/>
      <xs:enumeration value="ZOOLOGY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fetchType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOMESTIC"/>
      <xs:enumeration value="SHARED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="action">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CREATE"/>
      <xs:enumeration value="UPDATE"/>
      <xs:enumeration value="UPGRADE"/>
      <xs:enumeration value="PROCESS"/>
      <xs:enumeration value="MOVE"/>
      <xs:enumeration value="CHANGE_NS"/>
      <xs:enumeration value="MERGE"/>
      <xs:enumeration value="ACTIVATE"/>
      <xs:enumeration value="SUSPEND"/>
      <xs:enumeration value="DELETE"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="downloadOffersResponse">
    <wsdl:part name="response" type="tns:offerCSVDownloadResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadOffers">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:offerCSVUploadRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchPublishingGroups">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:fetchPublishGroupsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchOfferStatisticsResponse">
    <wsdl:part name="response" type="tns:offerStatisticsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processHideForeignOffers">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:hideForeignOffersRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processHideForeignOffersResponse">
    <wsdl:part name="response" type="tns:fallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchEmployers">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:fetchEmployerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rejectOffer">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:rejectOfferRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processEmployer">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:processEmployerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processPublishOffer">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:publishOfferRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchOffersResponse">
    <wsdl:part name="response" type="tns:fetchOffersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processOfferResponse">
    <wsdl:part name="response" type="tns:offerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchGroupsForSharingResponse">
    <wsdl:part name="response" type="tns:fetchGroupsForSharingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadOffers">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:fetchOffersRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchPublishedGroupsResponse">
    <wsdl:part name="response" type="tns:fetchPublishedGroupsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchOffers">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:fetchOffersRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchOfferStatistics">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:offerStatisticsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchGroupsForSharing">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="rejectOfferResponse">
    <wsdl:part name="response" type="tns:fallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processPublishingGroupResponse">
    <wsdl:part name="response" type="tns:fallibleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchPublishingGroupsResponse">
    <wsdl:part name="response" type="tns:fetchPublishingGroupResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchEmployersResponse">
    <wsdl:part name="response" type="tns:fetchEmployerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteOffer">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:deleteOfferRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteOfferResponse">
    <wsdl:part name="response" type="tns:offerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processPublishOfferResponse">
    <wsdl:part name="response" type="tns:publishOfferResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processPublishingGroup">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:processPublishingGroupRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchPublishedGroups">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:fetchPublishedGroupsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadOffersResponse">
    <wsdl:part name="response" type="tns:offerCSVUploadResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processEmployerResponse">
    <wsdl:part name="response" type="tns:employerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processOffer">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:processOfferRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="exchangeWS">
    <wsdl:documentation>IWS Exchange WebService</wsdl:documentation>
    <wsdl:operation name="uploadOffers">
      <wsdl:input message="tns:uploadOffers" name="uploadOffers">
    </wsdl:input>
      <wsdl:output message="tns:uploadOffersResponse" name="uploadOffersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchPublishingGroups">
      <wsdl:input message="tns:fetchPublishingGroups" name="fetchPublishingGroups">
    </wsdl:input>
      <wsdl:output message="tns:fetchPublishingGroupsResponse" name="fetchPublishingGroupsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processHideForeignOffers">
      <wsdl:input message="tns:processHideForeignOffers" name="processHideForeignOffers">
    </wsdl:input>
      <wsdl:output message="tns:processHideForeignOffersResponse" name="processHideForeignOffersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchEmployers">
      <wsdl:input message="tns:fetchEmployers" name="fetchEmployers">
    </wsdl:input>
      <wsdl:output message="tns:fetchEmployersResponse" name="fetchEmployersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rejectOffer">
      <wsdl:input message="tns:rejectOffer" name="rejectOffer">
    </wsdl:input>
      <wsdl:output message="tns:rejectOfferResponse" name="rejectOfferResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processEmployer">
      <wsdl:input message="tns:processEmployer" name="processEmployer">
    </wsdl:input>
      <wsdl:output message="tns:processEmployerResponse" name="processEmployerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processPublishOffer">
      <wsdl:input message="tns:processPublishOffer" name="processPublishOffer">
    </wsdl:input>
      <wsdl:output message="tns:processPublishOfferResponse" name="processPublishOfferResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteOffer">
      <wsdl:input message="tns:deleteOffer" name="deleteOffer">
    </wsdl:input>
      <wsdl:output message="tns:deleteOfferResponse" name="deleteOfferResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadOffers">
      <wsdl:input message="tns:downloadOffers" name="downloadOffers">
    </wsdl:input>
      <wsdl:output message="tns:downloadOffersResponse" name="downloadOffersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processPublishingGroup">
      <wsdl:input message="tns:processPublishingGroup" name="processPublishingGroup">
    </wsdl:input>
      <wsdl:output message="tns:processPublishingGroupResponse" name="processPublishingGroupResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchPublishedGroups">
      <wsdl:input message="tns:fetchPublishedGroups" name="fetchPublishedGroups">
    </wsdl:input>
      <wsdl:output message="tns:fetchPublishedGroupsResponse" name="fetchPublishedGroupsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchOffers">
      <wsdl:input message="tns:fetchOffers" name="fetchOffers">
    </wsdl:input>
      <wsdl:output message="tns:fetchOffersResponse" name="fetchOffersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchOfferStatistics">
      <wsdl:input message="tns:fetchOfferStatistics" name="fetchOfferStatistics">
    </wsdl:input>
      <wsdl:output message="tns:fetchOfferStatisticsResponse" name="fetchOfferStatisticsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processOffer">
      <wsdl:input message="tns:processOffer" name="processOffer">
    </wsdl:input>
      <wsdl:output message="tns:processOfferResponse" name="processOfferResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchGroupsForSharing">
      <wsdl:input message="tns:fetchGroupsForSharing" name="fetchGroupsForSharing">
    </wsdl:input>
      <wsdl:output message="tns:fetchGroupsForSharingResponse" name="fetchGroupsForSharingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="exchangeWSServiceSoapBinding" type="tns:exchangeWS">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="uploadOffers">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="uploadOffers">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadOffersResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchPublishingGroups">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchPublishingGroups">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchPublishingGroupsResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processHideForeignOffers">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="processHideForeignOffers">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="processHideForeignOffersResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="rejectOffer">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="rejectOffer">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="rejectOfferResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchEmployers">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchEmployers">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchEmployersResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processPublishOffer">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="processPublishOffer">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="processPublishOfferResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processEmployer">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="processEmployer">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="processEmployerResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteOffer">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="deleteOffer">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteOfferResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadOffers">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="downloadOffers">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="downloadOffersResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processPublishingGroup">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="processPublishingGroup">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="processPublishingGroupResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchPublishedGroups">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchPublishedGroups">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchPublishedGroupsResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchOffers">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchOffers">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchOffersResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchOfferStatistics">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchOfferStatistics">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchOfferStatisticsResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processOffer">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="processOffer">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="processOfferResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchGroupsForSharing">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchGroupsForSharing">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchGroupsForSharingResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="exchangeWSService">
    <wsdl:port binding="tns:exchangeWSServiceSoapBinding" name="exchangeWS">
      <soap:address location="http://localhost:9080/iws-ws/exchangeWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
