iws-ws-client/src/main/resources/storage.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.iws.iaeste.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="storageWSService" targetNamespace="http://ws.iws.iaeste.net/">
  <wsdl:documentation>
      Service: IWS Storage Service
      Version: 1.2.20160316
      Owner:   Kim Jensen
  </wsdl:documentation>
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.iws.iaeste.net/" targetNamespace="http://ws.iws.iaeste.net/" version="1.0">

  <xs:complexType final="extension restriction" name="authenticationToken">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="token" type="xs:string"/>
          <xs:element name="groupId" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="abstractVerification">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fileRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="action" type="tns:action"/>
          <xs:element name="file" type="tns:file"/>
          <xs:element name="type" type="tns:storageType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="file">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="fileId" nillable="true" type="xs:string"/>
          <xs:element name="privacy" type="tns:privacy"/>
          <xs:element name="group" nillable="true" type="tns:group"/>
          <xs:element name="user" nillable="true" type="tns:user"/>
          <xs:element name="folderId" nillable="true" type="xs:string"/>
          <xs:element name="filename" type="xs:string"/>
          <xs:element name="filedata" nillable="true" type="xs:base64Binary"/>
          <xs:element name="filesize" nillable="true" type="xs:int"/>
          <xs:element name="mimetype" nillable="true" type="xs:string"/>
          <xs:element name="description" nillable="true" type="xs:string"/>
          <xs:element name="keywords" nillable="true" type="xs:string"/>
          <xs:element name="checksum" nillable="true" type="xs:long"/>
          <xs:element name="modified" nillable="true" type="tns:date"/>
          <xs:element name="created" nillable="true" type="tns:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="group">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="groupId" nillable="true" type="xs:string"/>
          <xs:element name="parentId" nillable="true" type="xs:string"/>
          <xs:element name="groupName" type="xs:string"/>
          <xs:element name="fullName" nillable="true" type="xs:string"/>
          <xs:element name="listName" nillable="true" type="xs:string"/>
          <xs:element name="privateList" type="xs:boolean"/>
          <xs:element name="privateListReplyTo" type="tns:mailReply"/>
          <xs:element name="publicList" type="xs:boolean"/>
          <xs:element name="publicListReplyTo" type="tns:mailReply"/>
          <xs:element name="groupType" type="tns:groupType"/>
          <xs:element name="description" nillable="true" type="xs:string"/>
          <xs:element name="monitoringLevel" nillable="true" type="tns:monitoringLevel"/>
          <xs:element name="country" nillable="true" type="tns:country"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="country">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="countryCode" type="xs:string"/>
          <xs:element name="countryName" type="xs:string"/>
          <xs:element name="countryNameFull" nillable="true" type="xs:string"/>
          <xs:element name="countryNameNative" nillable="true" type="xs:string"/>
          <xs:element name="nationality" nillable="true" type="xs:string"/>
          <xs:element name="citizens" nillable="true" type="xs:string"/>
          <xs:element name="phonecode" nillable="true" type="xs:string"/>
          <xs:element name="currency" type="tns:currency"/>
          <xs:element name="languages" nillable="true" type="xs:string"/>
          <xs:element name="membership" nillable="true" type="tns:membership"/>
          <xs:element name="memberSince" nillable="true" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="user">
    <xs:complexContent>
      <xs:extension base="tns:abstractDto">
        <xs:sequence>
          <xs:element name="userId" nillable="true" type="xs:string"/>
          <xs:element name="username" nillable="true" type="xs:string"/>
          <xs:element name="alias" nillable="true" type="xs:string"/>
          <xs:element name="firstname" nillable="true" type="xs:string"/>
          <xs:element name="lastname" nillable="true" type="xs:string"/>
          <xs:element name="person" nillable="true" type="tns:person"/>
          <xs:element name="status" nillable="true" type="tns:userStatus"/>
          <xs:element name="type" type="tns:userType"/>
          <xs:element name="privacy" type="tns:privacy"/>
          <xs:element name="notifications" type="tns:notificationFrequency"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="abstractDto">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="person">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="nationality" nillable="true" type="tns:country"/>
          <xs:element name="address" nillable="true" type="tns:address"/>
          <xs:element name="alternateEmail" nillable="true" type="xs:string"/>
          <xs:element name="phone" nillable="true" type="xs:string"/>
          <xs:element name="mobile" nillable="true" type="xs:string"/>
          <xs:element name="fax" nillable="true" type="xs:string"/>
          <xs:element name="birthday" nillable="true" type="tns:date"/>
          <xs:element name="gender" nillable="true" type="tns:gender"/>
          <xs:element name="understoodPrivacySettings" nillable="true" type="xs:boolean"/>
          <xs:element name="acceptNewsletters" nillable="true" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="address">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="street1" nillable="true" type="xs:string"/>
          <xs:element name="street2" nillable="true" type="xs:string"/>
          <xs:element name="postalCode" nillable="true" type="xs:string"/>
          <xs:element name="city" nillable="true" type="xs:string"/>
          <xs:element name="state" nillable="true" type="xs:string"/>
          <xs:element name="pobox" nillable="true" type="xs:string"/>
          <xs:element name="country" nillable="true" type="tns:country"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="date">
    <xs:sequence>
      <xs:element name="midnight" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fileResponse">
    <xs:complexContent>
      <xs:extension base="tns:fallibleResponse">
        <xs:sequence>
          <xs:element name="file" nillable="true" type="tns:file"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="fallibleResponse">
    <xs:sequence>
      <xs:element name="error" type="tns:iwsError"/>
      <xs:element name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="iwsError">
    <xs:sequence>
      <xs:element name="error" type="xs:int"/>
      <xs:element name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchFolderRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="folderId" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchFolderResponse">
    <xs:complexContent>
      <xs:extension base="tns:fallibleResponse">
        <xs:sequence>
          <xs:element name="folder" nillable="true" type="tns:folder"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="folder">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="folderId" nillable="true" type="xs:string"/>
          <xs:element name="parentId" nillable="true" type="xs:string"/>
          <xs:element name="group" type="tns:group"/>
          <xs:element name="foldername" type="xs:string"/>
          <xs:element maxOccurs="unbounded" name="folders" nillable="true" type="tns:folder"/>
          <xs:element maxOccurs="unbounded" name="files" nillable="true" type="tns:file"/>
          <xs:element name="privacy" nillable="true" type="tns:privacy"/>
          <xs:element name="modified" nillable="true" type="tns:date"/>
          <xs:element name="created" nillable="true" type="tns:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="folderRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="action" type="tns:action"/>
          <xs:element name="parentId" nillable="true" type="xs:string"/>
          <xs:element name="folder" nillable="true" type="tns:folder"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="folderResponse">
    <xs:complexContent>
      <xs:extension base="tns:fallibleResponse">
        <xs:sequence>
          <xs:element name="folder" nillable="true" type="tns:folder"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchFileRequest">
    <xs:complexContent>
      <xs:extension base="tns:abstractVerification">
        <xs:sequence>
          <xs:element name="fileId" type="xs:string"/>
          <xs:element name="groupId" nillable="true" type="xs:string"/>
          <xs:element name="type" type="tns:storageType"/>
          <xs:element name="readFileData" nillable="true" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchFileResponse">
    <xs:complexContent>
      <xs:extension base="tns:fallibleResponse">
        <xs:sequence>
          <xs:element name="file" nillable="true" type="tns:file"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="action">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CREATE"/>
      <xs:enumeration value="UPDATE"/>
      <xs:enumeration value="UPGRADE"/>
      <xs:enumeration value="PROCESS"/>
      <xs:enumeration value="MOVE"/>
      <xs:enumeration value="CHANGE_NS"/>
      <xs:enumeration value="MERGE"/>
      <xs:enumeration value="ACTIVATE"/>
      <xs:enumeration value="SUSPEND"/>
      <xs:enumeration value="DELETE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="privacy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PUBLIC"/>
      <xs:enumeration value="PROTECTED"/>
      <xs:enumeration value="PRIVATE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="mailReply">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REPLY_TO_SENDER"/>
      <xs:enumeration value="REPLY_TO_LIST"/>
      <xs:enumeration value="NO_REPLY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="groupType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMINISTRATION"/>
      <xs:enumeration value="PRIVATE"/>
      <xs:enumeration value="MEMBER"/>
      <xs:enumeration value="INTERNATIONAL"/>
      <xs:enumeration value="NATIONAL"/>
      <xs:enumeration value="LOCAL"/>
      <xs:enumeration value="WORKGROUP"/>
      <xs:enumeration value="STUDENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="monitoringLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="MARKED"/>
      <xs:enumeration value="DETAILED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="currency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AED"/>
      <xs:enumeration value="AFN"/>
      <xs:enumeration value="ALL"/>
      <xs:enumeration value="AMD"/>
      <xs:enumeration value="ANG"/>
      <xs:enumeration value="AOA"/>
      <xs:enumeration value="ARS"/>
      <xs:enumeration value="AUD"/>
      <xs:enumeration value="AWG"/>
      <xs:enumeration value="AZN"/>
      <xs:enumeration value="BAM"/>
      <xs:enumeration value="BBD"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BGN"/>
      <xs:enumeration value="BHD"/>
      <xs:enumeration value="BIF"/>
      <xs:enumeration value="BMD"/>
      <xs:enumeration value="BND"/>
      <xs:enumeration value="BOB"/>
      <xs:enumeration value="BRL"/>
      <xs:enumeration value="BSD"/>
      <xs:enumeration value="BTN"/>
      <xs:enumeration value="BWP"/>
      <xs:enumeration value="BYR"/>
      <xs:enumeration value="BZD"/>
      <xs:enumeration value="CAD"/>
      <xs:enumeration value="CDF"/>
      <xs:enumeration value="CHF"/>
      <xs:enumeration value="CLP"/>
      <xs:enumeration value="CNY"/>
      <xs:enumeration value="COP"/>
      <xs:enumeration value="CRC"/>
      <xs:enumeration value="CUC"/>
      <xs:enumeration value="CUP"/>
      <xs:enumeration value="CVE"/>
      <xs:enumeration value="CZK"/>
      <xs:enumeration value="DJF"/>
      <xs:enumeration value="DKK"/>
      <xs:enumeration value="DOP"/>
      <xs:enumeration value="DZD"/>
      <xs:enumeration value="EGP"/>
      <xs:enumeration value="ERN"/>
      <xs:enumeration value="ETB"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="FJD"/>
      <xs:enumeration value="FKP"/>
      <xs:enumeration value="GBP"/>
      <xs:enumeration value="GEL"/>
      <xs:enumeration value="GGP"/>
      <xs:enumeration value="GHS"/>
      <xs:enumeration value="GIP"/>
      <xs:enumeration value="GMD"/>
      <xs:enumeration value="GNF"/>
      <xs:enumeration value="GTQ"/>
      <xs:enumeration value="GYD"/>
      <xs:enumeration value="HKD"/>
      <xs:enumeration value="HNL"/>
      <xs:enumeration value="HRK"/>
      <xs:enumeration value="HTG"/>
      <xs:enumeration value="HUF"/>
      <xs:enumeration value="IDR"/>
      <xs:enumeration value="ILS"/>
      <xs:enumeration value="IMP"/>
      <xs:enumeration value="INR"/>
      <xs:enumeration value="IQD"/>
      <xs:enumeration value="IRR"/>
      <xs:enumeration value="ISK"/>
      <xs:enumeration value="JEP"/>
      <xs:enumeration value="JMD"/>
      <xs:enumeration value="JOD"/>
      <xs:enumeration value="JPY"/>
      <xs:enumeration value="KES"/>
      <xs:enumeration value="KGS"/>
      <xs:enumeration value="KHR"/>
      <xs:enumeration value="KMF"/>
      <xs:enumeration value="KPW"/>
      <xs:enumeration value="KRW"/>
      <xs:enumeration value="KWD"/>
      <xs:enumeration value="KYD"/>
      <xs:enumeration value="KZT"/>
      <xs:enumeration value="LAK"/>
      <xs:enumeration value="LBP"/>
      <xs:enumeration value="LKR"/>
      <xs:enumeration value="LRD"/>
      <xs:enumeration value="LSL"/>
      <xs:enumeration value="LTL"/>
      <xs:enumeration value="LVL"/>
      <xs:enumeration value="LYD"/>
      <xs:enumeration value="MAD"/>
      <xs:enumeration value="MDL"/>
      <xs:enumeration value="MGA"/>
      <xs:enumeration value="MKD"/>
      <xs:enumeration value="MMK"/>
      <xs:enumeration value="MNT"/>
      <xs:enumeration value="MOP"/>
      <xs:enumeration value="MRO"/>
      <xs:enumeration value="MUR"/>
      <xs:enumeration value="MVR"/>
      <xs:enumeration value="MWK"/>
      <xs:enumeration value="MXN"/>
      <xs:enumeration value="MYR"/>
      <xs:enumeration value="MZN"/>
      <xs:enumeration value="NAD"/>
      <xs:enumeration value="NGN"/>
      <xs:enumeration value="NIO"/>
      <xs:enumeration value="NOK"/>
      <xs:enumeration value="NPR"/>
      <xs:enumeration value="NZD"/>
      <xs:enumeration value="OMR"/>
      <xs:enumeration value="PAB"/>
      <xs:enumeration value="PEN"/>
      <xs:enumeration value="PGK"/>
      <xs:enumeration value="PHP"/>
      <xs:enumeration value="PKR"/>
      <xs:enumeration value="PLN"/>
      <xs:enumeration value="PYG"/>
      <xs:enumeration value="QAR"/>
      <xs:enumeration value="RON"/>
      <xs:enumeration value="RSD"/>
      <xs:enumeration value="RUB"/>
      <xs:enumeration value="RWF"/>
      <xs:enumeration value="SAR"/>
      <xs:enumeration value="SBD"/>
      <xs:enumeration value="SCR"/>
      <xs:enumeration value="SDG"/>
      <xs:enumeration value="SEK"/>
      <xs:enumeration value="SGD"/>
      <xs:enumeration value="SHP"/>
      <xs:enumeration value="SLL"/>
      <xs:enumeration value="SOS"/>
      <xs:enumeration value="SPL"/>
      <xs:enumeration value="SRD"/>
      <xs:enumeration value="STD"/>
      <xs:enumeration value="SVC"/>
      <xs:enumeration value="SYP"/>
      <xs:enumeration value="SZL"/>
      <xs:enumeration value="THB"/>
      <xs:enumeration value="TJS"/>
      <xs:enumeration value="TMT"/>
      <xs:enumeration value="TND"/>
      <xs:enumeration value="TOP"/>
      <xs:enumeration value="TRY"/>
      <xs:enumeration value="TTD"/>
      <xs:enumeration value="TVD"/>
      <xs:enumeration value="TWD"/>
      <xs:enumeration value="TZS"/>
      <xs:enumeration value="UAH"/>
      <xs:enumeration value="UGX"/>
      <xs:enumeration value="USD"/>
      <xs:enumeration value="UYU"/>
      <xs:enumeration value="UZS"/>
      <xs:enumeration value="VEF"/>
      <xs:enumeration value="VND"/>
      <xs:enumeration value="VUV"/>
      <xs:enumeration value="WST"/>
      <xs:enumeration value="XAF"/>
      <xs:enumeration value="XCD"/>
      <xs:enumeration value="XDR"/>
      <xs:enumeration value="XOF"/>
      <xs:enumeration value="XPF"/>
      <xs:enumeration value="YER"/>
      <xs:enumeration value="ZAR"/>
      <xs:enumeration value="ZMW"/>
      <xs:enumeration value="ZWD"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="membership">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN"/>
      <xs:enumeration value="FULL_MEMBER"/>
      <xs:enumeration value="ASSOCIATE_MEMBER"/>
      <xs:enumeration value="COOPERATING_INSTITUTION"/>
      <xs:enumeration value="FORMER_MEMBER"/>
      <xs:enumeration value="LISTED"/>
      <xs:enumeration value="UNLISTED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MALE"/>
      <xs:enumeration value="FEMALE"/>
      <xs:enumeration value="UNKNOWN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="userStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NEW"/>
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="SUSPENDED"/>
      <xs:enumeration value="DELETED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="userType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VOLUNTEER"/>
      <xs:enumeration value="EMPLOYED"/>
      <xs:enumeration value="STUDENT"/>
      <xs:enumeration value="FUNCTIONAL"/>
      <xs:enumeration value="UNKNOWN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="notificationFrequency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IMMEDIATELY"/>
      <xs:enumeration value="DAILY"/>
      <xs:enumeration value="WEEKLY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="storageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OWNER"/>
      <xs:enumeration value="FOLDER"/>
      <xs:enumeration value="ATTACHED_TO_APPLICATION"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="processFolder">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:folderRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processFolderResponse">
    <wsdl:part name="response" type="tns:folderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchFile">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:fetchFileRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchFolderResponse">
    <wsdl:part name="response" type="tns:fetchFolderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processFile">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:fileRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processFileResponse">
    <wsdl:part name="response" type="tns:fileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchFolder">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:fetchFolderRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchFileResponse">
    <wsdl:part name="response" type="tns:fetchFileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="storageWS">
    <wsdl:documentation>IWS Storage WebService</wsdl:documentation>
    <wsdl:operation name="processFile">
      <wsdl:input message="tns:processFile" name="processFile">
    </wsdl:input>
      <wsdl:output message="tns:processFileResponse" name="processFileResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchFolder">
      <wsdl:input message="tns:fetchFolder" name="fetchFolder">
    </wsdl:input>
      <wsdl:output message="tns:fetchFolderResponse" name="fetchFolderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processFolder">
      <wsdl:input message="tns:processFolder" name="processFolder">
    </wsdl:input>
      <wsdl:output message="tns:processFolderResponse" name="processFolderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchFile">
      <wsdl:input message="tns:fetchFile" name="fetchFile">
    </wsdl:input>
      <wsdl:output message="tns:fetchFileResponse" name="fetchFileResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="storageWSServiceSoapBinding" type="tns:storageWS">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="processFile">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="processFile">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="processFileResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchFolder">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchFolder">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchFolderResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processFolder">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="processFolder">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="processFolderResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchFile">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchFile">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchFileResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="storageWSService">
    <wsdl:port binding="tns:storageWSServiceSoapBinding" name="storageWS">
      <soap:address location="http://localhost:9080/iws-ws/storageWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
