iws-ws-client/src/main/resources/students.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.iws.iaeste.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="studentWSService" targetNamespace="http://ws.iws.iaeste.net/">
  <wsdl:documentation>
      Service: IWS Student Service
      Version: 1.2.20160807
      Owner:   Kim Jensen
  </wsdl:documentation>
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.iws.iaeste.net/" targetNamespace="http://ws.iws.iaeste.net/" version="1.0">

  <xs:complexType final="extension restriction" name="authenticationToken">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="token" type="xs:string"/>
          <xs:element name="groupId" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="verifications">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchStudentsRequest">
    <xs:complexContent>
      <xs:extension base="tns:paginatable">
        <xs:all/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="paginatable">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="page" type="tns:page"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="page">
    <xs:sequence>
      <xs:element name="pageNumber" type="xs:int"/>
      <xs:element name="pageSize" type="xs:int"/>
      <xs:element minOccurs="0" name="sortOrder" type="tns:sortingOrder"/>
      <xs:element minOccurs="0" name="sortBy" type="tns:sortingField"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchStudentsResponse">
    <xs:complexContent>
      <xs:extension base="tns:response">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="students" nillable="true" type="tns:student"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="response">
    <xs:sequence>
      <xs:element name="error" type="tns:iwsError"/>
      <xs:element name="message" type="xs:string"/>
      <xs:element name="contact" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="student">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="user" type="tns:user"/>
          <xs:element name="studyLevel" nillable="true" type="tns:studyLevel"/>
          <xs:element maxOccurs="unbounded" name="fieldOfStudies" nillable="true" type="tns:fieldOfStudy"/>
          <xs:element maxOccurs="unbounded" name="specializations" nillable="true" type="tns:specialization"/>
          <xs:element name="available" nillable="true" type="tns:datePeriod"/>
          <xs:element name="language1" nillable="true" type="tns:language"/>
          <xs:element name="language1Level" nillable="true" type="tns:languageLevel"/>
          <xs:element name="language2" nillable="true" type="tns:language"/>
          <xs:element name="language2Level" nillable="true" type="tns:languageLevel"/>
          <xs:element name="language3" nillable="true" type="tns:language"/>
          <xs:element name="language3Level" nillable="true" type="tns:languageLevel"/>
          <xs:element name="modified" nillable="true" type="tns:dateTime"/>
          <xs:element name="created" nillable="true" type="tns:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="user">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="userId" nillable="true" type="xs:string"/>
          <xs:element name="username" nillable="true" type="xs:string"/>
          <xs:element name="alias" nillable="true" type="xs:string"/>
          <xs:element name="firstname" nillable="true" type="xs:string"/>
          <xs:element name="lastname" nillable="true" type="xs:string"/>
          <xs:element name="person" nillable="true" type="tns:person"/>
          <xs:element name="status" nillable="true" type="tns:userStatus"/>
          <xs:element name="type" type="tns:userType"/>
          <xs:element name="privacy" type="tns:privacy"/>
          <xs:element name="notifications" type="tns:notificationFrequency"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="person">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="nationality" nillable="true" type="tns:country"/>
          <xs:element name="address" nillable="true" type="tns:address"/>
          <xs:element name="alternateEmail" nillable="true" type="xs:string"/>
          <xs:element name="phone" nillable="true" type="xs:string"/>
          <xs:element name="mobile" nillable="true" type="xs:string"/>
          <xs:element name="fax" nillable="true" type="xs:string"/>
          <xs:element name="birthday" nillable="true" type="tns:date"/>
          <xs:element name="gender" nillable="true" type="tns:gender"/>
          <xs:element name="understoodPrivacySettings" nillable="true" type="xs:boolean"/>
          <xs:element name="acceptNewsletters" nillable="true" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="country">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="countryCode" type="xs:string"/>
          <xs:element name="countryName" type="xs:string"/>
          <xs:element name="countryNameFull" nillable="true" type="xs:string"/>
          <xs:element name="countryNameNative" nillable="true" type="xs:string"/>
          <xs:element name="nationality" nillable="true" type="xs:string"/>
          <xs:element name="citizens" nillable="true" type="xs:string"/>
          <xs:element name="phonecode" nillable="true" type="xs:string"/>
          <xs:element name="currency" type="tns:currency"/>
          <xs:element name="languages" nillable="true" type="xs:string"/>
          <xs:element name="membership" nillable="true" type="tns:membership"/>
          <xs:element name="memberSince" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="address">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="street1" nillable="true" type="xs:string"/>
          <xs:element name="street2" nillable="true" type="xs:string"/>
          <xs:element name="postalCode" nillable="true" type="xs:string"/>
          <xs:element name="city" nillable="true" type="xs:string"/>
          <xs:element name="state" nillable="true" type="xs:string"/>
          <xs:element name="pobox" nillable="true" type="xs:string"/>
          <xs:element name="country" nillable="true" type="tns:country"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="date">
    <xs:sequence>
      <xs:element name="midnight" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="datePeriod">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="fromDate" type="tns:date"/>
          <xs:element name="toDate" type="tns:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="dateTime">
    <xs:sequence>
      <xs:element name="timestamp" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="iwsError">
    <xs:sequence>
      <xs:element name="error" type="xs:int"/>
      <xs:element name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="studentApplicationRequest">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="applicationId" type="xs:string"/>
          <xs:element name="status" type="tns:applicationStatus"/>
          <xs:element name="rejectByEmployerReason" nillable="true" type="xs:string"/>
          <xs:element name="rejectDescription" nillable="true" type="xs:string"/>
          <xs:element name="rejectInternalComment" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="studentApplicationResponse">
    <xs:complexContent>
      <xs:extension base="tns:response">
        <xs:sequence>
          <xs:element name="studentApplication" nillable="true" type="tns:studentApplication"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="studentApplication">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="applicationId" nillable="true" type="xs:string"/>
          <xs:element name="offerId" type="xs:string"/>
          <xs:element name="offerState" nillable="true" type="tns:offerState"/>
          <xs:element name="student" type="tns:student"/>
          <xs:element name="status" nillable="true" type="tns:applicationStatus"/>
          <xs:element name="homeAddress" nillable="true" type="tns:address"/>
          <xs:element name="email" nillable="true" type="xs:string"/>
          <xs:element name="phoneNumber" nillable="true" type="xs:string"/>
          <xs:element name="addressDuringTerms" nillable="true" type="tns:address"/>
          <xs:element name="dateOfBirth" nillable="true" type="tns:date"/>
          <xs:element name="university" nillable="true" type="xs:string"/>
          <xs:element name="placeOfBirth" nillable="true" type="xs:string"/>
          <xs:element name="nationality" nillable="true" type="tns:country"/>
          <xs:element name="gender" nillable="true" type="tns:gender"/>
          <xs:element name="completedYearsOfStudy" nillable="true" type="xs:int"/>
          <xs:element name="totalYearsOfStudy" nillable="true" type="xs:int"/>
          <xs:element name="lodgingByIaeste" nillable="true" type="xs:boolean"/>
          <xs:element name="language1" nillable="true" type="tns:language"/>
          <xs:element name="language1Level" nillable="true" type="tns:languageLevel"/>
          <xs:element name="language2" nillable="true" type="tns:language"/>
          <xs:element name="language2Level" nillable="true" type="tns:languageLevel"/>
          <xs:element name="language3" nillable="true" type="tns:language"/>
          <xs:element name="language3Level" nillable="true" type="tns:languageLevel"/>
          <xs:element name="available" nillable="true" type="tns:datePeriod"/>
          <xs:element maxOccurs="unbounded" name="fieldOfStudies" nillable="true" type="tns:fieldOfStudy"/>
          <xs:element maxOccurs="unbounded" name="specializations" nillable="true" type="xs:string"/>
          <xs:element name="passportNumber" nillable="true" type="xs:string"/>
          <xs:element name="passportPlaceOfIssue" nillable="true" type="xs:string"/>
          <xs:element name="passportValidUntil" nillable="true" type="xs:string"/>
          <xs:element name="rejectByEmployerReason" nillable="true" type="xs:string"/>
          <xs:element name="rejectDescription" nillable="true" type="xs:string"/>
          <xs:element name="rejectInternalComment" nillable="true" type="xs:string"/>
          <xs:element name="acceptance" nillable="true" type="tns:studentAcceptance"/>
          <xs:element name="travelInformation" nillable="true" type="tns:studentAcceptanceConfirmation"/>
          <xs:element name="nominatedAt" nillable="true" type="tns:dateTime"/>
          <xs:element maxOccurs="unbounded" name="attachments" nillable="true" type="tns:file"/>
          <xs:element name="modified" nillable="true" type="tns:dateTime"/>
          <xs:element name="created" nillable="true" type="tns:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="studentAcceptance">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="applicationId" nillable="true" type="xs:string"/>
          <xs:element name="firstWorkingDay" nillable="true" type="tns:date"/>
          <xs:element name="workingPlace" nillable="true" type="xs:string"/>
          <xs:element name="contactPerson" nillable="true" type="xs:string"/>
          <xs:element name="contactPersonEmail" nillable="true" type="xs:string"/>
          <xs:element name="contactPersonPhone" nillable="true" type="xs:string"/>
          <xs:element name="confirmedPeriod" nillable="true" type="tns:datePeriod"/>
          <xs:element name="additionalInformation" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="studentAcceptanceConfirmation">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="applicationId" nillable="true" type="xs:string"/>
          <xs:element name="departure" nillable="true" type="tns:date"/>
          <xs:element name="transportationType" nillable="true" type="tns:transportationType"/>
          <xs:element name="departureFrom" nillable="true" type="xs:string"/>
          <xs:element name="transportNumber" nillable="true" type="xs:string"/>
          <xs:element name="arrivalDateTime" nillable="true" type="tns:dateTime"/>
          <xs:element name="phoneNumberDuringTravel" nillable="true" type="xs:string"/>
          <xs:element name="lodgingRequiredFrom" nillable="true" type="tns:date"/>
          <xs:element name="lodgingRequiredTo" nillable="true" type="tns:date"/>
          <xs:element name="otherInformation" nillable="true" type="xs:string"/>
          <xs:element name="insuranceCompany" nillable="true" type="xs:string"/>
          <xs:element name="insuranceReceiptNumber" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="file">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="fileId" nillable="true" type="xs:string"/>
          <xs:element name="privacy" type="tns:privacy"/>
          <xs:element name="group" nillable="true" type="tns:group"/>
          <xs:element name="user" nillable="true" type="tns:user"/>
          <xs:element name="folderId" nillable="true" type="xs:string"/>
          <xs:element name="filename" type="xs:string"/>
          <xs:element name="filedata" nillable="true" type="xs:base64Binary"/>
          <xs:element name="filesize" nillable="true" type="xs:string"/>
          <xs:element name="mimetype" nillable="true" type="xs:string"/>
          <xs:element name="description" nillable="true" type="xs:string"/>
          <xs:element name="keywords" nillable="true" type="xs:string"/>
          <xs:element name="checksum" nillable="true" type="xs:long"/>
          <xs:element name="modified" nillable="true" type="tns:date"/>
          <xs:element name="created" nillable="true" type="tns:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="group">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="groupId" nillable="true" type="xs:string"/>
          <xs:element name="parentId" nillable="true" type="xs:string"/>
          <xs:element name="groupName" type="xs:string"/>
          <xs:element name="fullName" nillable="true" type="xs:string"/>
          <xs:element name="listName" nillable="true" type="xs:string"/>
          <xs:element name="privateList" type="xs:boolean"/>
          <xs:element name="privateListReplyTo" type="tns:mailReply"/>
          <xs:element name="publicList" type="xs:boolean"/>
          <xs:element name="publicListReplyTo" type="tns:mailReply"/>
          <xs:element name="groupType" type="tns:groupType"/>
          <xs:element name="description" nillable="true" type="xs:string"/>
          <xs:element name="monitoringLevel" nillable="true" type="tns:monitoringLevel"/>
          <xs:element name="country" nillable="true" type="tns:country"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="createUserRequest">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="username" type="xs:string"/>
          <xs:element name="password" nillable="true" type="xs:string"/>
          <xs:element name="firstname" type="xs:string"/>
          <xs:element name="lastname" type="xs:string"/>
          <xs:element name="studentAccount" nillable="true" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="createUserResponse">
    <xs:complexContent>
      <xs:extension base="tns:response">
        <xs:sequence>
          <xs:element name="user" nillable="true" type="tns:user"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchStudentApplicationsRequest">
    <xs:complexContent>
      <xs:extension base="tns:paginatable">
        <xs:sequence>
          <xs:element name="offerId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="fetchStudentApplicationsResponse">
    <xs:complexContent>
      <xs:extension base="tns:response">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="studentApplications" nillable="true" type="tns:studentApplication"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="studentRequest">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="student" nillable="true" type="tns:student"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="studentResponse">
    <xs:complexContent>
      <xs:extension base="tns:response">
        <xs:sequence>
          <xs:element name="student" nillable="true" type="tns:student"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="studentApplicationsRequest">
    <xs:complexContent>
      <xs:extension base="tns:actions">
        <xs:sequence>
          <xs:element name="studentApplication" type="tns:studentApplication"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="actions">
    <xs:complexContent>
      <xs:extension base="tns:verifications">
        <xs:sequence>
          <xs:element name="action" type="tns:action"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="sortingOrder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ASC"/>
      <xs:enumeration value="DESC"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sortingField">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CREATED"/>
      <xs:enumeration value="NAME"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="currency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AED"/>
      <xs:enumeration value="AFN"/>
      <xs:enumeration value="ALL"/>
      <xs:enumeration value="AMD"/>
      <xs:enumeration value="ANG"/>
      <xs:enumeration value="AOA"/>
      <xs:enumeration value="ARS"/>
      <xs:enumeration value="AUD"/>
      <xs:enumeration value="AWG"/>
      <xs:enumeration value="AZN"/>
      <xs:enumeration value="BAM"/>
      <xs:enumeration value="BBD"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BGN"/>
      <xs:enumeration value="BHD"/>
      <xs:enumeration value="BIF"/>
      <xs:enumeration value="BMD"/>
      <xs:enumeration value="BND"/>
      <xs:enumeration value="BOB"/>
      <xs:enumeration value="BRL"/>
      <xs:enumeration value="BSD"/>
      <xs:enumeration value="BTN"/>
      <xs:enumeration value="BWP"/>
      <xs:enumeration value="BYR"/>
      <xs:enumeration value="BZD"/>
      <xs:enumeration value="CAD"/>
      <xs:enumeration value="CDF"/>
      <xs:enumeration value="CHF"/>
      <xs:enumeration value="CLP"/>
      <xs:enumeration value="CNY"/>
      <xs:enumeration value="COP"/>
      <xs:enumeration value="CRC"/>
      <xs:enumeration value="CUC"/>
      <xs:enumeration value="CUP"/>
      <xs:enumeration value="CVE"/>
      <xs:enumeration value="CZK"/>
      <xs:enumeration value="DJF"/>
      <xs:enumeration value="DKK"/>
      <xs:enumeration value="DOP"/>
      <xs:enumeration value="DZD"/>
      <xs:enumeration value="EGP"/>
      <xs:enumeration value="ERN"/>
      <xs:enumeration value="ETB"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="FJD"/>
      <xs:enumeration value="FKP"/>
      <xs:enumeration value="GBP"/>
      <xs:enumeration value="GEL"/>
      <xs:enumeration value="GGP"/>
      <xs:enumeration value="GHS"/>
      <xs:enumeration value="GIP"/>
      <xs:enumeration value="GMD"/>
      <xs:enumeration value="GNF"/>
      <xs:enumeration value="GTQ"/>
      <xs:enumeration value="GYD"/>
      <xs:enumeration value="HKD"/>
      <xs:enumeration value="HNL"/>
      <xs:enumeration value="HRK"/>
      <xs:enumeration value="HTG"/>
      <xs:enumeration value="HUF"/>
      <xs:enumeration value="IDR"/>
      <xs:enumeration value="ILS"/>
      <xs:enumeration value="IMP"/>
      <xs:enumeration value="INR"/>
      <xs:enumeration value="IQD"/>
      <xs:enumeration value="IRR"/>
      <xs:enumeration value="ISK"/>
      <xs:enumeration value="JEP"/>
      <xs:enumeration value="JMD"/>
      <xs:enumeration value="JOD"/>
      <xs:enumeration value="JPY"/>
      <xs:enumeration value="KES"/>
      <xs:enumeration value="KGS"/>
      <xs:enumeration value="KHR"/>
      <xs:enumeration value="KMF"/>
      <xs:enumeration value="KPW"/>
      <xs:enumeration value="KRW"/>
      <xs:enumeration value="KWD"/>
      <xs:enumeration value="KYD"/>
      <xs:enumeration value="KZT"/>
      <xs:enumeration value="LAK"/>
      <xs:enumeration value="LBP"/>
      <xs:enumeration value="LKR"/>
      <xs:enumeration value="LRD"/>
      <xs:enumeration value="LSL"/>
      <xs:enumeration value="LTL"/>
      <xs:enumeration value="LVL"/>
      <xs:enumeration value="LYD"/>
      <xs:enumeration value="MAD"/>
      <xs:enumeration value="MDL"/>
      <xs:enumeration value="MGA"/>
      <xs:enumeration value="MKD"/>
      <xs:enumeration value="MMK"/>
      <xs:enumeration value="MNT"/>
      <xs:enumeration value="MOP"/>
      <xs:enumeration value="MRO"/>
      <xs:enumeration value="MUR"/>
      <xs:enumeration value="MVR"/>
      <xs:enumeration value="MWK"/>
      <xs:enumeration value="MXN"/>
      <xs:enumeration value="MYR"/>
      <xs:enumeration value="MZN"/>
      <xs:enumeration value="NAD"/>
      <xs:enumeration value="NGN"/>
      <xs:enumeration value="NIO"/>
      <xs:enumeration value="NOK"/>
      <xs:enumeration value="NPR"/>
      <xs:enumeration value="NZD"/>
      <xs:enumeration value="OMR"/>
      <xs:enumeration value="PAB"/>
      <xs:enumeration value="PEN"/>
      <xs:enumeration value="PGK"/>
      <xs:enumeration value="PHP"/>
      <xs:enumeration value="PKR"/>
      <xs:enumeration value="PLN"/>
      <xs:enumeration value="PYG"/>
      <xs:enumeration value="QAR"/>
      <xs:enumeration value="RON"/>
      <xs:enumeration value="RSD"/>
      <xs:enumeration value="RUB"/>
      <xs:enumeration value="RWF"/>
      <xs:enumeration value="SAR"/>
      <xs:enumeration value="SBD"/>
      <xs:enumeration value="SCR"/>
      <xs:enumeration value="SDG"/>
      <xs:enumeration value="SEK"/>
      <xs:enumeration value="SGD"/>
      <xs:enumeration value="SHP"/>
      <xs:enumeration value="SLL"/>
      <xs:enumeration value="SOS"/>
      <xs:enumeration value="SPL"/>
      <xs:enumeration value="SRD"/>
      <xs:enumeration value="STD"/>
      <xs:enumeration value="SVC"/>
      <xs:enumeration value="SYP"/>
      <xs:enumeration value="SZL"/>
      <xs:enumeration value="THB"/>
      <xs:enumeration value="TJS"/>
      <xs:enumeration value="TMT"/>
      <xs:enumeration value="TND"/>
      <xs:enumeration value="TOP"/>
      <xs:enumeration value="TRY"/>
      <xs:enumeration value="TTD"/>
      <xs:enumeration value="TVD"/>
      <xs:enumeration value="TWD"/>
      <xs:enumeration value="TZS"/>
      <xs:enumeration value="UAH"/>
      <xs:enumeration value="UGX"/>
      <xs:enumeration value="USD"/>
      <xs:enumeration value="UYU"/>
      <xs:enumeration value="UZS"/>
      <xs:enumeration value="VEF"/>
      <xs:enumeration value="VND"/>
      <xs:enumeration value="VUV"/>
      <xs:enumeration value="WST"/>
      <xs:enumeration value="XAF"/>
      <xs:enumeration value="XCD"/>
      <xs:enumeration value="XDR"/>
      <xs:enumeration value="XOF"/>
      <xs:enumeration value="XPF"/>
      <xs:enumeration value="YER"/>
      <xs:enumeration value="ZAR"/>
      <xs:enumeration value="ZMW"/>
      <xs:enumeration value="ZWD"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="membership">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNKNOWN"/>
      <xs:enumeration value="FULL_MEMBER"/>
      <xs:enumeration value="ASSOCIATE_MEMBER"/>
      <xs:enumeration value="COOPERATING_INSTITUTION"/>
      <xs:enumeration value="FORMER_MEMBER"/>
      <xs:enumeration value="LISTED"/>
      <xs:enumeration value="UNLISTED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MALE"/>
      <xs:enumeration value="FEMALE"/>
      <xs:enumeration value="UNKNOWN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="userStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NEW"/>
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="SUSPENDED"/>
      <xs:enumeration value="DELETED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="userType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VOLUNTEER"/>
      <xs:enumeration value="EMPLOYED"/>
      <xs:enumeration value="STUDENT"/>
      <xs:enumeration value="FUNCTIONAL"/>
      <xs:enumeration value="UNKNOWN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="privacy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PUBLIC"/>
      <xs:enumeration value="PROTECTED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="notificationFrequency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IMMEDIATELY"/>
      <xs:enumeration value="DAILY"/>
      <xs:enumeration value="WEEKLY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="studyLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="B"/>
      <xs:enumeration value="M"/>
      <xs:enumeration value="E"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="fieldOfStudy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AERONAUTIC_ENGINEERING"/>
      <xs:enumeration value="AGRICULTURE"/>
      <xs:enumeration value="APPLIED_ARTS"/>
      <xs:enumeration value="AQUA_CULTURE"/>
      <xs:enumeration value="ARCHITECTURE"/>
      <xs:enumeration value="BIOLOGY"/>
      <xs:enumeration value="BIOMEDICAL_SCIENCE"/>
      <xs:enumeration value="BIOTECHNOLOGY"/>
      <xs:enumeration value="CHEMISTRY"/>
      <xs:enumeration value="CIVIL_ENGINEERING"/>
      <xs:enumeration value="ECONOMY_AND_MANAGEMENT"/>
      <xs:enumeration value="EDUCATION"/>
      <xs:enumeration value="ELECTRICAL_ENGINEERING"/>
      <xs:enumeration value="ENERGY_ENGINEERING"/>
      <xs:enumeration value="ENVIRONMENTAL_ENGINEERING"/>
      <xs:enumeration value="FOOD_SCIENCE"/>
      <xs:enumeration value="GEOSCIENCE"/>
      <xs:enumeration value="INDUSTRIAL_ENGINEERING"/>
      <xs:enumeration value="IT"/>
      <xs:enumeration value="MATERIAL_SCIENCE"/>
      <xs:enumeration value="MATHEMATICS"/>
      <xs:enumeration value="MECHANICAL_ENGINEERING"/>
      <xs:enumeration value="MEDIA_AND_MARKETING"/>
      <xs:enumeration value="PHYSICS"/>
      <xs:enumeration value="VETERINARY_SCIENCE"/>
      <xs:enumeration value="OTHER"/>
      <xs:enumeration value="ANY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="specialization">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMINISTRATION"/>
      <xs:enumeration value="AEROSPACE_ENGINEERING"/>
      <xs:enumeration value="AGRIBUSINESS"/>
      <xs:enumeration value="AGRONOMY_AGRO_ECOLOGY"/>
      <xs:enumeration value="ANALYTICAL_CHEMISTRY"/>
      <xs:enumeration value="ANIMAL_BEHAVIOUR"/>
      <xs:enumeration value="ANIMAL_BIOLOGY"/>
      <xs:enumeration value="ANIMAL_HUSBANDRY"/>
      <xs:enumeration value="ANIMAL_SCIENCE"/>
      <xs:enumeration value="APPLIED_MATHEMATICS"/>
      <xs:enumeration value="APPLIED_STATISTICS"/>
      <xs:enumeration value="AQUACULTURE_AQUAFARMING"/>
      <xs:enumeration value="ARTIFICIAL_INTELLIGENCE"/>
      <xs:enumeration value="ASTROPHYSICS"/>
      <xs:enumeration value="AUDIO_TECHNOLOGY"/>
      <xs:enumeration value="AUTOMATION"/>
      <xs:enumeration value="AUTOMOTIVE_ENGINEERING"/>
      <xs:enumeration value="AVIONICS"/>
      <xs:enumeration value="BIOCHEMISTRY"/>
      <xs:enumeration value="BIODIVERSITY"/>
      <xs:enumeration value="BIOENGINEERING"/>
      <xs:enumeration value="BIOINFORMATICS"/>
      <xs:enumeration value="BIOINSTRUMENTATION"/>
      <xs:enumeration value="BIOMATERIALS"/>
      <xs:enumeration value="BIOMECHANICS"/>
      <xs:enumeration value="BIONICS"/>
      <xs:enumeration value="BIOPHYSICS"/>
      <xs:enumeration value="BIOVETERINARY_SCIENCE"/>
      <xs:enumeration value="BOTANY"/>
      <xs:enumeration value="BREWING"/>
      <xs:enumeration value="BUSINESS_INFORMATICS"/>
      <xs:enumeration value="BUSINESS_INTELLIGENCE"/>
      <xs:enumeration value="CALCULUS"/>
      <xs:enumeration value="CELL_BIOLOGY"/>
      <xs:enumeration value="CHEMICAL_ENGINEERING"/>
      <xs:enumeration value="COMMERCE"/>
      <xs:enumeration value="COMMUNICATIONS_TECHNOLOGY"/>
      <xs:enumeration value="COMPUTATIONAL_PHYSICS"/>
      <xs:enumeration value="COMPUTER_ENGINEERING"/>
      <xs:enumeration value="COMPUTER_SCIENCE"/>
      <xs:enumeration value="CONSTRUCTION"/>
      <xs:enumeration value="CYBERNETICS"/>
      <xs:enumeration value="DAIRY_FARMING"/>
      <xs:enumeration value="DATABASE_ADMINISTRATION"/>
      <xs:enumeration value="DESIGN"/>
      <xs:enumeration value="DEVELOPMENT_STUDIES"/>
      <xs:enumeration value="DIGITAL_MEDIA"/>
      <xs:enumeration value="DISCRETE_MATHEMATICS"/>
      <xs:enumeration value="DRAWING"/>
      <xs:enumeration value="EARTH_SCIENCE"/>
      <xs:enumeration value="ECOLOGY"/>
      <xs:enumeration value="ECONOMIC_GEOGRAPHY"/>
      <xs:enumeration value="ECONOMICS"/>
      <xs:enumeration value="ELECTRIC_MOBILITY"/>
      <xs:enumeration value="ELECTRONICS"/>
      <xs:enumeration value="ENERGY_AND_PROCESS_ENGINEERING"/>
      <xs:enumeration value="ENERGY_SYSTEMS_PLANNING"/>
      <xs:enumeration value="ENTERPRISE_ENGINEERING"/>
      <xs:enumeration value="ENTOMOLOGY"/>
      <xs:enumeration value="ETHOLOGY"/>
      <xs:enumeration value="FACILITY_SURVEYING"/>
      <xs:enumeration value="FINANCIAL_MATHEMATICS"/>
      <xs:enumeration value="FISHERIES"/>
      <xs:enumeration value="FLUID_MECHANICS"/>
      <xs:enumeration value="FOOD_CHEMISTRY"/>
      <xs:enumeration value="FOOD_QUALITY_AND_SAFETY"/>
      <xs:enumeration value="FOOD_TECHNOLOGY"/>
      <xs:enumeration value="FOREST_ENGINEERING"/>
      <xs:enumeration value="FORESTRY"/>
      <xs:enumeration value="GENETICS"/>
      <xs:enumeration value="GEOCHEMISTRY"/>
      <xs:enumeration value="GEODESY_AND_CARTOGRAPHY"/>
      <xs:enumeration value="GEOECOLOGY"/>
      <xs:enumeration value="GEOGRAPHY"/>
      <xs:enumeration value="GEOLOGY"/>
      <xs:enumeration value="GEOMATICS"/>
      <xs:enumeration value="GEOMETRY"/>
      <xs:enumeration value="GEOPHYSICS"/>
      <xs:enumeration value="GEOTECHNOLOGY"/>
      <xs:enumeration value="GIS"/>
      <xs:enumeration value="GRAPHIC_DESIGN"/>
      <xs:enumeration value="GRAPHICS_AND_PRINTING"/>
      <xs:enumeration value="HORTICULTURE"/>
      <xs:enumeration value="HOTEL_MANAGEMENT"/>
      <xs:enumeration value="HYDRAULICS"/>
      <xs:enumeration value="IMMUNOLOGY"/>
      <xs:enumeration value="INDUSTRIAL_DESIGN"/>
      <xs:enumeration value="INDUSTRIAL_ECONOMICS"/>
      <xs:enumeration value="INDUSTRIAL_LOGISTICS"/>
      <xs:enumeration value="INFORMATICS"/>
      <xs:enumeration value="INFORMATION_SYSTEMS"/>
      <xs:enumeration value="INFORMATION_TECHNOLOGY"/>
      <xs:enumeration value="INNOVATION_MANAGEMENT"/>
      <xs:enumeration value="INNOVATION_STRATEGY"/>
      <xs:enumeration value="INORGANIC_CHEMISTRY"/>
      <xs:enumeration value="INSTRUMENTATION"/>
      <xs:enumeration value="INTERIOR_DESIGN"/>
      <xs:enumeration value="LAND_SURVEYING"/>
      <xs:enumeration value="LANDSCAPE_ARCHITECTURE"/>
      <xs:enumeration value="LANGUAGE"/>
      <xs:enumeration value="LIMNOLOGY"/>
      <xs:enumeration value="LOGISTICS"/>
      <xs:enumeration value="MACHINE_TECHNOLOGY"/>
      <xs:enumeration value="MARINE_AND_OFFSHORE_ENGINEERING"/>
      <xs:enumeration value="MARINE_BIOLOGY"/>
      <xs:enumeration value="MARINE_GEOLOGY"/>
      <xs:enumeration value="MARINE_TECHNOLOGY"/>
      <xs:enumeration value="MARKETING"/>
      <xs:enumeration value="MATERIAL_TECHNOLOGY"/>
      <xs:enumeration value="MECHATRONICS"/>
      <xs:enumeration value="MEDIA_TECHNOLOGY"/>
      <xs:enumeration value="MEDICAL_ENGINEERING"/>
      <xs:enumeration value="MEDICAL_PHYSICS"/>
      <xs:enumeration value="METALLURGY"/>
      <xs:enumeration value="MICROBIOLOGY"/>
      <xs:enumeration value="MILLING"/>
      <xs:enumeration value="MINERAL_PROCESSING"/>
      <xs:enumeration value="MINERALOGY"/>
      <xs:enumeration value="MINING"/>
      <xs:enumeration value="MOLECULAR_BIOLOGY"/>
      <xs:enumeration value="MYCOLOGY"/>
      <xs:enumeration value="NANOBIOTECHNOLOGY"/>
      <xs:enumeration value="NANOELECTRONICS"/>
      <xs:enumeration value="NANOMATERIALS"/>
      <xs:enumeration value="NANOTECHNOLOGY"/>
      <xs:enumeration value="NATURAL_RESOURCE_MANAGEMENT"/>
      <xs:enumeration value="NAVAL_ENGINEERING"/>
      <xs:enumeration value="NETWORKS"/>
      <xs:enumeration value="NEUROSCIENCE"/>
      <xs:enumeration value="NUCLEAR_ENERGY_ENGINEERING"/>
      <xs:enumeration value="NUTRITIONAL_SCIENCE"/>
      <xs:enumeration value="OCEANOGRAPHY"/>
      <xs:enumeration value="OECOTROPHOLOGY"/>
      <xs:enumeration value="OPTICS"/>
      <xs:enumeration value="OPTIMIZATION"/>
      <xs:enumeration value="ORGANIC_CHEMISTRY"/>
      <xs:enumeration value="PETROLEUM_ENGINEERING"/>
      <xs:enumeration value="PHARMACY"/>
      <xs:enumeration value="PHASE_TRANSITIONS"/>
      <xs:enumeration value="PHOTONICS"/>
      <xs:enumeration value="PHYSICAL_CHEMISTRY"/>
      <xs:enumeration value="PLANT_BIOLOGY"/>
      <xs:enumeration value="PLANT_SCIENCE"/>
      <xs:enumeration value="POLYMER_ENGINEERING"/>
      <xs:enumeration value="POLYMER_SCIENCE"/>
      <xs:enumeration value="PORT_LOGISTICS"/>
      <xs:enumeration value="POWER_ENGINEERING"/>
      <xs:enumeration value="POWER_GENERATION"/>
      <xs:enumeration value="PROCESS_ENGINEERING"/>
      <xs:enumeration value="PRODUCT_DESIGN"/>
      <xs:enumeration value="PRODUCT_DEVELOPMENT"/>
      <xs:enumeration value="PRODUCTION_MANAGEMENT"/>
      <xs:enumeration value="PROJECT_MANAGEMENT"/>
      <xs:enumeration value="PROTEOMICS"/>
      <xs:enumeration value="QUANTUM_MECHANICS"/>
      <xs:enumeration value="RENEWABLE_ENERGY"/>
      <xs:enumeration value="ROBOTICS"/>
      <xs:enumeration value="SCIENCE"/>
      <xs:enumeration value="SEAFOOD"/>
      <xs:enumeration value="SECURITY"/>
      <xs:enumeration value="SEISMOLOGY"/>
      <xs:enumeration value="SHIPBUILDING"/>
      <xs:enumeration value="SIMULATION"/>
      <xs:enumeration value="SOCIAL_MEDIA"/>
      <xs:enumeration value="SOFTWARE_DEVELOPMENT"/>
      <xs:enumeration value="SOFTWARE_ENGINEERING"/>
      <xs:enumeration value="SOIL_AND_AIR_POLLUTION"/>
      <xs:enumeration value="STATISTICAL_PHYSICS"/>
      <xs:enumeration value="STATISTICS"/>
      <xs:enumeration value="STRUCTURAL_ENGINEERING"/>
      <xs:enumeration value="SUSTAINABILITY"/>
      <xs:enumeration value="SYSTEM_ADMINISTRATION"/>
      <xs:enumeration value="SYSTEM_DEVELOPMENT"/>
      <xs:enumeration value="SYSTEM_ENGINEERING"/>
      <xs:enumeration value="TELECOMMUNICATIONS"/>
      <xs:enumeration value="TESTING"/>
      <xs:enumeration value="TEXTILE_TECHNOLOGY"/>
      <xs:enumeration value="THERMODYNAMICS"/>
      <xs:enumeration value="TOPOLOGY"/>
      <xs:enumeration value="TOXICOLOGY"/>
      <xs:enumeration value="TRAFFIC_ENGINEERING"/>
      <xs:enumeration value="URBAN_PLANNING"/>
      <xs:enumeration value="VETERINARY_MEDICINE"/>
      <xs:enumeration value="VETERINARY_SCIENCE"/>
      <xs:enumeration value="WASTEWATER_TREATMENT"/>
      <xs:enumeration value="WATER_ENGINEERING"/>
      <xs:enumeration value="WEB_DESIGN"/>
      <xs:enumeration value="WEB_DEVELOPMENT"/>
      <xs:enumeration value="WINERY"/>
      <xs:enumeration value="WOOD_AND_PAPER_ENGINEERING"/>
      <xs:enumeration value="WOOD_SCIENCE"/>
      <xs:enumeration value="ZOOLOGY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="language">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ENGLISH"/>
      <xs:enumeration value="ARABIC"/>
      <xs:enumeration value="BELARUSIAN"/>
      <xs:enumeration value="BULGARIAN"/>
      <xs:enumeration value="CANTONESE_YUE_CHINESE"/>
      <xs:enumeration value="CROATIAN"/>
      <xs:enumeration value="CZECH"/>
      <xs:enumeration value="DANISH"/>
      <xs:enumeration value="DUTCH"/>
      <xs:enumeration value="ESTONIAN"/>
      <xs:enumeration value="FINNISH"/>
      <xs:enumeration value="FRENCH"/>
      <xs:enumeration value="GERMAN"/>
      <xs:enumeration value="GREEK"/>
      <xs:enumeration value="HUNGARIAN"/>
      <xs:enumeration value="INDONESIAN"/>
      <xs:enumeration value="ITALIAN"/>
      <xs:enumeration value="JAPANESE"/>
      <xs:enumeration value="KOREAN"/>
      <xs:enumeration value="LATVIAN"/>
      <xs:enumeration value="LITHUANIAN"/>
      <xs:enumeration value="MANDARIN_CHINESE"/>
      <xs:enumeration value="NORWEGIAN"/>
      <xs:enumeration value="PERSIAN"/>
      <xs:enumeration value="POLISH"/>
      <xs:enumeration value="PORTUGUESE"/>
      <xs:enumeration value="ROMANIAN"/>
      <xs:enumeration value="RUSSIAN"/>
      <xs:enumeration value="SERBIAN"/>
      <xs:enumeration value="SLOVAKIAN"/>
      <xs:enumeration value="SLOVENIAN"/>
      <xs:enumeration value="SPANISH"/>
      <xs:enumeration value="SWEDISH"/>
      <xs:enumeration value="TAJIK"/>
      <xs:enumeration value="THAI"/>
      <xs:enumeration value="TURKISH"/>
      <xs:enumeration value="VIETNAMESE"/>
      <xs:enumeration value="UKRAINIAN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="languageLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="E"/>
      <xs:enumeration value="G"/>
      <xs:enumeration value="F"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="applicationStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="APPLIED"/>
      <xs:enumeration value="NOMINATED"/>
      <xs:enumeration value="FORWARDED_TO_EMPLOYER"/>
      <xs:enumeration value="ACCEPTED"/>
      <xs:enumeration value="REJECTED"/>
      <xs:enumeration value="REJECTED_BY_SENDING_COUNTRY"/>
      <xs:enumeration value="CANCELLED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="offerState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NEW"/>
      <xs:enumeration value="OPEN"/>
      <xs:enumeration value="SHARED"/>
      <xs:enumeration value="APPLICATIONS"/>
      <xs:enumeration value="NOMINATIONS"/>
      <xs:enumeration value="DELETED"/>
      <xs:enumeration value="CLOSED"/>
      <xs:enumeration value="COMPLETED"/>
      <xs:enumeration value="AT_EMPLOYER"/>
      <xs:enumeration value="ACCEPTED"/>
      <xs:enumeration value="EXPIRED"/>
      <xs:enumeration value="REJECTED"/>
      <xs:enumeration value="CANCELLED"/>
      <xs:enumeration value="EXCHANGED"/>
      <xs:enumeration value="NOMINATION_REJECTED"/>
      <xs:enumeration value="NOT_ACCEPTED"/>
      <xs:enumeration value="DECLINED"/>
      <xs:enumeration value="SN_COMPLETE"/>
      <xs:enumeration value="TAKEN"/>
      <xs:enumeration value="NOMINATION_ACCEPTED"/>
      <xs:enumeration value="VIEWED"/>
      <xs:enumeration value="WAITING_SN"/>
      <xs:enumeration value="AC_EXCHANGED"/>
      <xs:enumeration value="UNKNOWN"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="transportationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PLANE"/>
      <xs:enumeration value="BUS"/>
      <xs:enumeration value="TRAIN"/>
      <xs:enumeration value="SHIP"/>
      <xs:enumeration value="CAR"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="mailReply">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REPLY_TO_SENDER"/>
      <xs:enumeration value="REPLY_TO_LIST"/>
      <xs:enumeration value="NO_REPLY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="groupType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADMINISTRATION"/>
      <xs:enumeration value="PRIVATE"/>
      <xs:enumeration value="MEMBER"/>
      <xs:enumeration value="INTERNATIONAL"/>
      <xs:enumeration value="NATIONAL"/>
      <xs:enumeration value="LOCAL"/>
      <xs:enumeration value="WORKGROUP"/>
      <xs:enumeration value="STUDENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="monitoringLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE"/>
      <xs:enumeration value="MARKED"/>
      <xs:enumeration value="DETAILED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="action">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CREATE"/>
      <xs:enumeration value="UPDATE"/>
      <xs:enumeration value="UPGRADE"/>
      <xs:enumeration value="PROCESS"/>
      <xs:enumeration value="MOVE"/>
      <xs:enumeration value="CHANGE_NS"/>
      <xs:enumeration value="MERGE"/>
      <xs:enumeration value="ACTIVATE"/>
      <xs:enumeration value="SUSPEND"/>
      <xs:enumeration value="DELETE"/>
      <xs:enumeration value="REMOVE"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="fetchStudents">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:fetchStudentsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processApplicationStatus">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:studentApplicationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createStudent">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:createUserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchStudentApplications">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:fetchStudentApplicationsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processStudent">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:studentRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchStudentsResponse">
    <wsdl:part name="response" type="tns:fetchStudentsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createStudentResponse">
    <wsdl:part name="response" type="tns:createUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processStudentApplication">
    <wsdl:part name="token" type="tns:authenticationToken">
    </wsdl:part>
    <wsdl:part name="request" type="tns:studentApplicationsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processStudentApplicationResponse">
    <wsdl:part name="response" type="tns:studentApplicationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fetchStudentApplicationsResponse">
    <wsdl:part name="response" type="tns:fetchStudentApplicationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processStudentResponse">
    <wsdl:part name="response" type="tns:studentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processApplicationStatusResponse">
    <wsdl:part name="response" type="tns:studentApplicationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="studentWS">
    <wsdl:documentation>IWS Student WebService</wsdl:documentation>
    <wsdl:operation name="fetchStudents">
      <wsdl:input message="tns:fetchStudents" name="fetchStudents">
    </wsdl:input>
      <wsdl:output message="tns:fetchStudentsResponse" name="fetchStudentsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processApplicationStatus">
      <wsdl:input message="tns:processApplicationStatus" name="processApplicationStatus">
    </wsdl:input>
      <wsdl:output message="tns:processApplicationStatusResponse" name="processApplicationStatusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createStudent">
      <wsdl:input message="tns:createStudent" name="createStudent">
    </wsdl:input>
      <wsdl:output message="tns:createStudentResponse" name="createStudentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchStudentApplications">
      <wsdl:input message="tns:fetchStudentApplications" name="fetchStudentApplications">
    </wsdl:input>
      <wsdl:output message="tns:fetchStudentApplicationsResponse" name="fetchStudentApplicationsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processStudent">
      <wsdl:input message="tns:processStudent" name="processStudent">
    </wsdl:input>
      <wsdl:output message="tns:processStudentResponse" name="processStudentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processStudentApplication">
      <wsdl:input message="tns:processStudentApplication" name="processStudentApplication">
    </wsdl:input>
      <wsdl:output message="tns:processStudentApplicationResponse" name="processStudentApplicationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="studentWSServiceSoapBinding" type="tns:studentWS">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="fetchStudents">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchStudents">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchStudentsResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createStudent">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="createStudent">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createStudentResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processApplicationStatus">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="processApplicationStatus">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="processApplicationStatusResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fetchStudentApplications">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="fetchStudentApplications">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fetchStudentApplicationsResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processStudent">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="processStudent">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="processStudentResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processStudentApplication">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="processStudentApplication">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="processStudentApplicationResponse">
        <soap:body namespace="http://ws.iws.iaeste.net/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="studentWSService">
    <wsdl:port binding="tns:studentWSServiceSoapBinding" name="studentWS">
      <soap:address location="http://localhost:9080/iws-ws/studentWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
